Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

Improve ammo transfer messages.
  Resources/Locale/en-US/weapons/ranged/gun.ftl
Owners: @RemieRichards

Use TakeAmmoEvent.
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Owners: none

Remove superfluous dependency.
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Owners: none

Update angle.yml
  Resources/Maps/angle.yml
Owners: none

Change Panic to Panic Siphon. (#923)
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
Owners: @RemieRichards

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Update angle.yml
  Resources/Maps/angle.yml
Owners: none

noink cryo boards
  Resources/Maps/arena.yml
Owners: none

Add files via upload
  Resources/Maps/pebble.yml
Owners: none

Add files via upload (#927)
  Resources/Maps/pebble.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Add map Shōminato
  Resources/Maps/shouminato.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/shouminato.yml
Owners: @moonheart08

Update shouminato.yml
  Resources/Maps/shouminato.yml
Owners: none

nerfs and sprite change
  Resources/Prototypes/Entities/Mobs/NPCs/funnyayadoll.yml
  Resources/Textures/Mobs/Pets/ayadoll.rsi/dollspriteclean.png
  Resources/Textures/Mobs/Pets/ayadoll.rsi/dollspritesfull.png
Owners: none

it now laughs
  Resources/Audio/Voice/doll/Copyright © Epidemic Sound
  Resources/Audio/Voice/doll/ES_Child-Laughs-2-SFX-Producer.ogg
  Resources/Audio/Voice/doll/ES_Child-Laughs-SFX-Producer.ogg
  Resources/Audio/Voice/doll/ES_Monster-Demon-SFX-Producer.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/funnyayadoll.yml
  Resources/Prototypes/SoundCollections/screams.yml
Owners: none

Update shouminato.yml
  Resources/Maps/shouminato.yml
Owners: none

Update shouminato.yml
  Resources/Maps/shouminato.yml
Owners: none

Update shouminato.yml
  Resources/Maps/shouminato.yml
Owners: none

Remove redundant whitelist note in job descriptions.
  Resources/Locale/en-US/job/nyano-desc.ftl
Owners: @RemieRichards

Revert "fueltanks can explode when shot with lethal bullets/pellets (#12513)"
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
Owners: none

Make liquid storage tanks more resilient.
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
Owners: none

Renamed station to Shoukou
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/shoukou.yml
Owners: @moonheart08

Update shoukou.yml
  Resources/Maps/shoukou.yml
Owners: none

Make liquid storage tanks more OSHA compliant. (#930)
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Remove redundant whitelist note in job descriptions. (#929)
  Resources/Locale/en-US/job/nyano-desc.ftl
Owners: @RemieRichards

Add recipient to air gush message and change pop-up type (#13262)
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Shared/Doors/DoorEvents.cs
Owners: @ElectroJr

Fix random fails on NoCargoOrderArbitrage Test (#13273)
  Content.IntegrationTests/Tests/CargoTest.cs
Owners: none

Add supplies to restock vending machines. (#11506)
  Content.Server/Destructible/Thresholds/Behaviors/DumpRestockInventory.cs
Owners: none

Increased NT Mug Budget (Mugs have uniform capacity with Coffee mugs) (#13218)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
Owners: none

lathe recipes no longer specify textures (#12944)
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Lathe/UI/LatheQueueMenu.xaml.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Prototypes/Recipes/Lathes/botany.yml
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Owners: none

woops, we don't allow printing RCDs
  Resources/Prototypes/Recipes/Lathes/tools.yml
Owners: none

Attack sound for animals (bite/slash) (#13208)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Owners: @moonheart08, @mirrorcult, @DrSmugleaf

Add RGB staff (#13125)
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Actions/ActionOnInteractComponent.cs
  Content.Server/Actions/ActionOnInteractSystem.cs
  Content.Server/Actions/ActionsSystem.cs
  Content.Server/Magic/Events/ChangeComponentsSpellEvent.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Shared/Actions/ActionTypes/ActionType.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Magic/staves.yml
  Resources/Textures/Objects/Weapons/Guns/Basic/staves.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Basic/staves.rsi/nothing-unshaded.png
  Resources/Textures/Objects/Weapons/Guns/Basic/staves.rsi/staff-inhand-left-unshaded.png
  Resources/Textures/Objects/Weapons/Guns/Basic/staves.rsi/staff-inhand-right-unshaded.png
Owners: @ElectroJr

Adds delay to internals alert (#13195)
  Content.Server/Alert/Click/ToggleInternals.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Owners: @Zumorica, @mirrorcult, @DrSmugleaf

Grenade Penguin 2: The Reckoning (#13278)
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Owners: @moonheart08, @Zumorica

Fix hammy cage collision (#13281)
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Owners: none

Allow fax machines on top of tables. (#13276)
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Owners: none

Relax water vapor threshold (#13280)
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Owners: @Zumorica

Portals & hand teleporter (#13266)
  Content.Server/Teleportation/HandTeleporterSystem.cs
  Content.Shared/Teleportation/Components/HandTeleporterComponent.cs
  Content.Shared/Teleportation/Components/LinkedEntityComponent.cs
  Content.Shared/Teleportation/Components/PortalComponent.cs
  Content.Shared/Teleportation/Components/PortalTimeoutComponent.cs
  Content.Shared/Teleportation/Systems/LinkedEntitySystem.cs
  Content.Shared/Teleportation/Systems/PortalSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/teleport_arrival.ogg
  Resources/Audio/Effects/teleport_departure.ogg
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
  Resources/Textures/Effects/portal.rsi/meta.json
  Resources/Textures/Effects/portal.rsi/portal-blue.png
  Resources/Textures/Effects/portal.rsi/portal-red.png
  Resources/Textures/Effects/portal.rsi/portal.png
  Resources/Textures/Objects/Devices/hand_teleporter.rsi/icon.png
  Resources/Textures/Objects/Devices/hand_teleporter.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/hand_teleporter.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/hand_teleporter.rsi/meta.json
Owners: none
