Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

Delay the selection of traitors at round start.
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Shared/CCVar/CCVars.cs
Owners: @moonheart08, @Zumorica

new soft antag that can be an ally or an enemy
  Resources/Prototypes/Entities/Mobs/NPCs/funnyayadoll.yml
  Resources/Textures/Mobs/Pets/ayadoll.rsi/dollspritesfull.png
  Resources/Textures/Mobs/Pets/ayadoll.rsi/meta.json
Owners: none

Buff Shields (#895)
  Resources/Prototypes/Damage/modifier_sets.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

not so long mini hoe
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
Owners: none

Add new medium salvage
  Resources/Maps/Salvage/medium_chunk01.yml
  Resources/Prototypes/Maps/salvage.yml
Owners: @moonheart08

Use GameTiming instead of Timer.Spawn to support pausing.
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Owners: @moonheart08, @Zumorica

Be explicit about SelectionState enum.
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Owners: @moonheart08, @Zumorica

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Fix 'pebbel.yml' -> 'pebble.yml'
  Resources/Maps/pebbel.yml
  Resources/Maps/pebble.yml
Owners: none

Fix 'pebbel.yml' -> 'pebble.yml' (#905)
  Resources/Maps/pebbel.yml
  Resources/Maps/pebble.yml
Owners: none

Add missing gift-giving christmas trees to our maps.
  Resources/Maps/angle.yml
  Resources/Maps/lighthouse.yml
  Resources/Maps/ovni.yml
Owners: none

Add a gift-giving christmas tree to nukie planet.
  Resources/Maps/nukieplanet.yml
Owners: none

Name these two wooden doors.
  Resources/Maps/lighthouse.yml
Owners: none

v2 once again
  Resources/Prototypes/Entities/Mobs/NPCs/funnyayadoll.yml
  Resources/Textures/Mobs/Pets/ayadoll.rsi/meta.json
Owners: none

Specify precision for all Crispy local variables.
  Resources/Textures/Shaders/crispy.swsl
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Add Fish and Chips, remove carpotoxin from meals
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Owners: none

Add Fish and Chips, remove carpotoxin from meals (#908)
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Add new salvage
  Resources/Maps/Salvage/mining_outpost01.yml
  Resources/Prototypes/Maps/salvage.yml
Owners: @moonheart08

Add new salvage (#909)
  Resources/Maps/Salvage/mining_outpost01.yml
  Resources/Prototypes/Maps/salvage.yml
Owners: @moonheart08

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Melee Weapons Rebalance 2.0 (#894)
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Update angle.yml
  Resources/Maps/angle.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Update NTES_Kaeri.yml
  Resources/Maps/Shuttles/NTES_Kaeri.yml
Owners: none

Updated shuttle airlocks
  Resources/Maps/Shuttles/NTES_Kaeri.yml
  Resources/Maps/Shuttles/emergency.yml
Owners: none

Unlocks the airlocks
  Resources/Maps/Shuttles/BC20_emergencyShuttleG.yml
Owners: none

No make map
  Resources/Maps/Shuttles/BC20_emergencyShuttleG.yml
Owners: none

Unpause CentComMap a short time before the shuttle arrives.
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Adds 2 posters
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/poster_medicate.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/poster_notouching.png
Owners: none

Temporarily disable ghost role for drones.
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Owners: @moonheart08, @mirrorcult, @DrSmugleaf

Temporarily disable ghost role for drones. (#916)
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Owners: @moonheart08, @mirrorcult, @DrSmugleaf

Add parallel NPC steering back in (#13159)
  Content.Server/NPC/HTN/HTNSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Owners: none

Adjust NPC steering a bit (#13162)
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Owners: none

add radio message logs (#13167)
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Owners: none
