Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

Update Shoukou
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Owners: @moonheart08

Update Shoukou (#939)
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Owners: @moonheart08

evil twins copy flavor text too
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSystem.cs
Owners: none

fix test
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/humanoid.yml
Owners: none

Evil twin fixes (#940)
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/humanoid.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

break out the mob fetching
  Content.Server/Cloning/CloningSystem.cs
Owners: none

cloning pods sorted
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
Owners: none

non humanoid works
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
Owners: none

fix mild regression with old cloner
  Content.Server/Cloning/CloningSystem.cs
Owners: none

find and replace
  Resources/Maps/Shuttles/BC20_emergencyShuttleG.yml
  Resources/Maps/angle.yml
  Resources/Maps/arena.yml
  Resources/Maps/bagel.yml
  Resources/Maps/centcomm.yml
  Resources/Maps/dart.yml
  Resources/Maps/glacier.yml
  Resources/Maps/lighthouse.yml
  Resources/Maps/ovni.yml
  Resources/Maps/pebble.yml
  Resources/Maps/saucer.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Circuitboards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Owners: none

sprite
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/pod_0.png
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/pod_1.png
Owners: none

primate inv fix
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
Owners: none

fix license
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/meta.json
Owners: none

woops
  Resources/Maps/saucer.yml
Owners: none

Metempsychotic machine (#936)
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
  Resources/Maps/Shuttles/BC20_emergencyShuttleG.yml
  Resources/Maps/angle.yml
  Resources/Maps/arena.yml
  Resources/Maps/bagel.yml
  Resources/Maps/centcomm.yml
  Resources/Maps/dart.yml
  Resources/Maps/glacier.yml
  Resources/Maps/lighthouse.yml
  Resources/Maps/ovni.yml
  Resources/Maps/pebble.yml
  Resources/Maps/saucer.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Circuitboards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticHumanoids.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/pod_0.png
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/pod_1.png
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

hotfix
  Resources/Prototypes/Nyanotrasen/metempsychoticHumanoids.yml
Owners: none

Add files via upload
  Resources/Maps/lighthouse.yml
Owners: none

Add files via upload (#941)
  Resources/Maps/lighthouse.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Update shoukou.yml
  Resources/Maps/shoukou.yml
Owners: none

Mad edits
  Resources/Maps/arena.yml
Owners: none

Add files via upload
  Resources/Maps/pebble.yml
Owners: none

Add files via upload (#944)
  Resources/Maps/pebble.yml
Owners: none

Update shoukou.yml (#942)
  Resources/Maps/shoukou.yml
Owners: none

Add files via upload
  Resources/Maps/lighthouse.yml
Owners: none

Add files via upload
  Resources/Maps/lighthouse.yml
Owners: none

added arrow shuttle
  Resources/Maps/Shuttles/arrow.yml
Owners: none

Update shoukou.yml
  Resources/Maps/shoukou.yml
Owners: none

modify components
  Content.Server/Cloning/CloningSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
Owners: none

karma
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Mind/MindSystem.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychosisKarmaComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
Owners: none

fixes
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Nyanotrasen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
Owners: none

tweaks/fixes for gorilla
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
Owners: none

touch up legacy species
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
Owners: @moonheart08, @mirrorcult, @DrSmugleaf

skeleton too
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
Owners: @moonheart08, @mirrorcult, @DrSmugleaf

new running visuals
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/pod_1.png
Owners: none

Update shoukou.yml (#947)
  Resources/Maps/shoukou.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Metemupdate20230106 (#948)
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Mind/MindSystem.cs
  Content.Server/Nyanotrasen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychosisKarmaComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/pod_1.png
Owners: @moonheart08, @mirrorcult, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005
