Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

mystagogue locker rework
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/ourjobs.yml
Owners: none

Add airlock painting logs (#13301)
  Content.Server/AirlockPainter/AirlockPainterSystem.cs
Owners: none

Add welding logs (#13299)
  Content.Server/Tools/Systems/WeldableSystem.cs
Owners: none

add maintenance panel logs (#13298)
  Content.Server/Wires/WiresSystem.cs
Owners: none

fix this thing (#13285)
  Content.Server/Storage/EntitySystems/SecretStashSystem.cs
Owners: none

Fix damage mispredict (#13304)
  Content.Shared/Damage/Systems/DamageableSystem.cs
Owners: @ElectroJr, @DrSmugleaf

Remove IPhysBody (#13297)
  Content.Client/Suspicion/TraitorOverlay.cs
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Movement/ClimbUnitTest.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Administration/Commands/WarpCommand.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Disposal/Tube/Components/DisposalRouterComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalHolderComponent.cs
  Content.Server/Rotatable/RotatableSystem.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Server/Temperature/Components/TemperatureComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Pulling/Events/PullAttemptEvent.cs
  Content.Shared/Pulling/Events/PullMessage.cs
  Content.Shared/Pulling/Events/PullStartedMessage.cs
  Content.Shared/Pulling/Events/PullStoppedMessage.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica

Hand teleporter / portal tweaks (#13305)
  Content.Server/Teleportation/HandTeleporterSystem.cs
  Content.Shared/Teleportation/Components/HandTeleporterComponent.cs
  Content.Shared/Teleportation/Components/PortalComponent.cs
Owners: none

Fix nukieplanet assert (#13312)
  Resources/Maps/nukieplanet.yml
Owners: none

More artifact effects (#13300)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Actions.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/ClearFixturesArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ClearFixturesArtifactSystem.cs
  Content.Shared/Xenoarchaeology/XenoArtifacts/SharedArtifact.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/en-US/xenoarchaeology/misc-artifact.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Owners: @RemieRichards

More no-local-rotation map fixes (#13317)
  Resources/Maps/Salvage/small-4.yml
  Resources/Maps/Salvage/wh-salvage.yml
Owners: none

Add DisposalUnit logs (#13309)
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared.Database/LogType.cs
Owners: @PJB3005, @DrSmugleaf

new disposal changes
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

heading
  Content.Client/Borgs/LawUIContainer.xaml
  Content.Client/Borgs/LawUIContainer.xaml.cs
  Content.Client/Borgs/LawsMenu.xaml
  Content.Client/Borgs/LawsMenu.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Borgs/LawCommands.cs
  Content.Server/Borgs/LawsSystem.cs
  Content.Shared/Borgs/LawMessages.cs
  Content.Shared/Borgs/LawsComponent.cs
  Content.Shared/Borgs/SharedLawsSystem.cs
  Resources/Locale/en-US/borg/laws.ftl
Owners: @RemieRichards

I somehow forgot to delete the existing stuff lol
  Content.Server/Nyanotrasen/Borgs/LawCommands.cs
  Content.Server/Nyanotrasen/Borgs/LawsSystem.cs
  Content.Shared/Nyanotrasen/Borgs/LawMessages.cs
  Content.Shared/Nyanotrasen/Borgs/LawsComponent.cs
  Content.Shared/Nyanotrasen/Borgs/SharedLawsSystem.cs
Owners: none

popups in chat
  Content.Client/Popups/PopupSystem.cs
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
Owners: none

stuff defaults to small for some reason...?
  Content.Client/Popups/PopupSystem.cs
Owners: none

Law UI upgrade (#932)
  Content.Client/Borgs/LawUIContainer.xaml
  Content.Client/Borgs/LawUIContainer.xaml.cs
  Content.Client/Borgs/LawsMenu.xaml
  Content.Client/Borgs/LawsMenu.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Borgs/LawCommands.cs
  Content.Server/Borgs/LawsSystem.cs
  Content.Shared/Borgs/LawMessages.cs
  Content.Shared/Borgs/LawsComponent.cs
  Content.Shared/Borgs/SharedLawsSystem.cs
  Resources/Locale/en-US/borg/laws.ftl
Owners: @RemieRichards

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

minimum damage for damage modifiers
  Content.Shared/Damage/DamageModifierSet.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Owners: @ElectroJr, @DrSmugleaf

minimum damage for damage modifiers (#934)
  Content.Shared/Damage/DamageModifierSet.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Owners: @ElectroJr, @DrSmugleaf

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Popups in chat (#933)
  Content.Client/Popups/PopupSystem.cs
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

initial commit
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineComponent.cs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticHumanoids.yml
Owners: none

close enough
  Content.Server/Cloning/CloningSystem.cs
  Resources/Prototypes/Nyanotrasen/metempsychoticHumanoids.yml
Owners: none

Updated Shoukou
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Owners: @moonheart08

unimportant popups do not appear in chat
  Content.Client/Popups/PopupSystem.cs
Owners: none

rane moment
  Content.Client/Popups/PopupSystem.cs
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

don't show small normal popups in chat (#937)
  Content.Client/Popups/PopupSystem.cs
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

spawning works
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinCommand.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinComponent.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSystem.cs
Owners: none

it just works
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSpawnerComponent.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/humanoid.yml
Owners: none

works on my machine
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSystem.cs
Owners: none

event
  Content.Server/Nyanotrasen/Events/EvilTwin.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSystem.cs
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Owners: none

ship it
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinComponent.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinKillCondition.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSystem.cs
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Locale/en-US/station-events/events/evil-twin.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Antag/evil_twin.yml
  Resources/Prototypes/Objectives/eviltwinObjectives.yml
Owners: @RemieRichards

Evil twin (#938)
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Nyanotrasen/Events/EvilTwin.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinCommand.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinComponent.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinKillCondition.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSpawnerComponent.cs
  Content.Server/Nyanotrasen/EvilTwin/EvilTwinSystem.cs
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Locale/en-US/station-events/events/evil-twin.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Antag/evil_twin.yml
  Resources/Prototypes/Objectives/eviltwinObjectives.yml
Owners: @RemieRichards

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none
