Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

Syringes and Hyposprays cannot go through hardsuit
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Shared/SimpleStation14/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/SimpleStation14/Clothing/Systems/ClothingGrantComponentSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/SimpleStation14/tags.yml
Owners: @mirrorcult

move to tags
  Resources/Prototypes/SimpleStation14/tags.yml
  Resources/Prototypes/tags.yml
Owners: none

Update README.md
  README.md
Owners: none

localize
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
Owners: @mirrorcult, @RemieRichards

make doors etc uncheesable
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/frame.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
Owners: none

all walls
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Owners: none

christmas is over
  Resources/Audio/Lobby/christmas.ogg
Owners: none

Map Edits (#961)
  Resources/Maps/arena.yml
Owners: none

Syringes cannot go through hardsuit (#962)
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Shared/SimpleStation14/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/SimpleStation14/Clothing/Systems/ClothingGrantComponentSystem.cs
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/tags.yml
Owners: @mirrorcult, @RemieRichards

make doors etc uncheesable (#963)
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/frame.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

AAA
  Resources/Audio/Effects/Vehicle/bone.ogg
  Resources/Audio/Effects/Vehicle/license.txt
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Owners: none

Update buckleable.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Owners: none

A (#964)
  Resources/Audio/Effects/Vehicle/bone.ogg
  Resources/Audio/Effects/Vehicle/license.txt
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

don't care about null target
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
Owners: none

don't care about null target (#965)
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

cancer mouse
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
Owners: @RemieRichards

cancer mouse (#966)
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
Owners: @RemieRichards

stereo to mono
  Resources/Audio/Effects/Vehicle/bone.ogg
Owners: none

gun for pew pew
  Resources/Textures/Objects/Weapons/Guns/Rifles/aps/aps,rsi
Owners: none

scaffolding, fix helping people up
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/Interaction/InteractionPopupSystem.cs
  Content.Server/Nyanotrasen/MobState/NyanoMobStateSystem.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Owners: @ElectroJr, @Zumorica

CPR proof of concept works
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Interaction/InteractionPopupSystem.cs
  Content.Server/Nyanotrasen/MobState/NyanoMobStateSystem.cs
Owners: @mirrorcult, @DrSmugleaf, @ElectroJr

it just works
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
Owners: @mirrorcult, @DrSmugleaf

good for now
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Resources/Audio/Effects/CPR.ogg
  Resources/Audio/Effects/licenses.txt
  Resources/Locale/en-US/body/respirator/cpr.ftl
Owners: @mirrorcult, @DrSmugleaf, @RemieRichards

test
  Content.Client/Nyanotrasen/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/Nyanotrasen/Shipyard/Components/ShipyardConsoleComponent.cs
  Content.Client/Nyanotrasen/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/Nyanotrasen/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/Nyanotrasen/Shipyard/UI/VesselRow.xaml
  Content.Client/Nyanotrasen/Shipyard/UI/VesselRow.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Nyanotrasen/Shipyard/Commands/PurchaseShuttleCommand.cs
  Content.Server/Nyanotrasen/Shipyard/Commands/SellShuttleCommand.cs
  Content.Server/Nyanotrasen/Shipyard/Components/ShipyardComponent.cs
  Content.Server/Nyanotrasen/Shipyard/Components/ShuttleDeedComponent.cs
  Content.Server/Nyanotrasen/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/Nyanotrasen/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/Nyanotrasen/Shipyard/BUI/ShipyardConsoleInterfaceState.cs
  Content.Shared/Nyanotrasen/Shipyard/Components/SharedShipyardConsoleComponent.cs
  Content.Shared/Nyanotrasen/Shipyard/Events/ShipyardConsolePurchaseMessage.cs
  Content.Shared/Nyanotrasen/Shipyard/Events/ShipyardConsoleSellMessage.cs
  Content.Shared/Nyanotrasen/Shipyard/Prototypes/VesselPrototype.cs
  Content.Shared/Nyanotrasen/Shipyard/SharedShipyardSystem.cs
  Resources/Prototypes/Nyanotrasen/Catalog/default_shipyard.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/computers.yml
Owners: none

CPR (#967)
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Interaction/InteractionPopupSystem.cs
  Content.Server/Nyanotrasen/MobState/NyanoMobStateSystem.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Audio/Effects/CPR.ogg
  Resources/Audio/Effects/licenses.txt
  Resources/Locale/en-US/body/respirator/cpr.ftl
Owners: @mirrorcult, @DrSmugleaf, @ElectroJr, @Zumorica, @RemieRichards

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005
