Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

Synchronize Mech files with upstream.
  Content.Server/Mech/Systems/MechEquipmentSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
Owners: none

feat: Medbay cryo pods (#11349)
  Content.Client/Medical/Cryogenics/CryoPodComponent.cs
  Content.Client/Medical/Cryogenics/CryoPodSystem.cs
  Content.Server/Medical/Components/CryoPodComponent.cs
  Content.Server/Medical/CryoPodEjectLockWireAction.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/InsideCryoPodSystem.cs
  Content.Server/Temperature/Components/ContainerTemperatureDamageThresholdsComponent.cs
  Content.Server/Temperature/Components/TemperatureComponent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/Medical/Cryogenics/ActiveCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/CryoPodWireStatus.cs
  Content.Shared/Medical/Cryogenics/InsideCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodSystem.cs
  Content.Shared/Medical/Cryogenics/SharedInsideCryoPodSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/en-US/medical/components/cryo-pod-component.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Textures/Structures/Machines/cryogenics.rsi/cover-off.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/cover-on.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/meta.json
  Resources/Textures/Structures/Machines/cryogenics.rsi/pod-off.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/pod-on.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/pod-open.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/pod-panel.png
Owners: @RemieRichards

fix: cryo pod autoinjection works once again. (#13213)
  Content.Server/Medical/CryoPodSystem.cs
Owners: none

Add, clean up Nyano-specific job names and descriptions.
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/nyano-desc.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Antag/fugitive.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/salvage_technician.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/cataloguer.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/epistemologist.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensic_mantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/medical_cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Owners: @RemieRichards

Update deep fryer code.
  Content.Server/Kitchen/EntitySystems/DeepFryerSystem.cs
Owners: none

Update Nyano code to use new component namespacing.
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Nyanotrasen/Arachne/ArachneSystem.cs
  Content.Server/Nyanotrasen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Nyanotrasen/Soul/GolemSystem.cs
  Content.Server/Nyanotrasen/Stack/StackHolderSystem.cs
Owners: none

Add missing Silicon department details.
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
Owners: @RemieRichards

Update Arachne portion of HumanoidVisualizerSystem.
  Content.Client/Humanoid/HumanoidVisualizerSystem.cs
Owners: none

Forbid Ripley parts as Oracle demands.
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
Owners: none

Fix assistant vs. technical assistant vs. passenger.
  Content.IntegrationTests/Tests/Nyanotrasen/Mail/MailTest.cs
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Owners: @RemieRichards

Add Binary channel to ClothingHeadsetAltEngineering.
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Owners: none

Standardize HeadsetAlt as the Command variant.
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Owners: none

Standardize Command headsets (#918)
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Owners: none

Fix ye bloody RSIs
  Resources/Textures/Objects/Specific/Medical/mouth_swab.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/meta.json
  Resources/Textures/Structures/Machines/diagnoser.rsi/meta.json
  Resources/Textures/Structures/Machines/vaccinator.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
Owners: none

Update Angle
  Resources/Maps/angle.yml
  Resources/Prototypes/Maps/angle.yml
Owners: @moonheart08

Unlocks the airlocks (#913)
  Resources/Maps/Shuttles/BC20_emergencyShuttleG.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Fix carpotoxin reagent physical description (#13211)
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
Owners: @RemieRichards

Fix two small ambient sound bugs. (#13249)
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Server/Audio/AmbientSoundSystem.cs
Owners: none

Fixed missing interaction outline for cardboard boxes (#13254)
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Owners: none

Popup occlusion (#13255)
  Content.Client/Popups/PopupOverlay.cs
Owners: none

Add empty flashlight (#13257)
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Owners: none

Sort crew manifest by name and job title (#13212)
  Content.Server/CrewManifest/CrewManifestSystem.cs
Owners: none

Fix bloodstream nullref exception (#13243)
  Content.Server/Body/Components/BloodstreamComponent.cs
Owners: @mirrorcult, @DrSmugleaf

Good artifact effects (#13223)
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/ChargeBatteryArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/SpawnArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ChargeBatteryArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/RandomInstrumentArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/SpawnArtifactSystem.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/en-US/xenoarchaeology/misc-artifact.ftl
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Owners: @RemieRichards

Mopping and puddle tweaks (#13238)
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Server/Fluids/Components/AbsorbentComponent.cs
  Content.Server/Fluids/EntitySystems/EvaporationSystem.cs
  Content.Server/Fluids/EntitySystems/MoppingSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Owners: @mirrorcult

machine frame tweaks (#13248)
  Content.Client/Construction/MachineFrameVisualizer.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Shared/Construction/MachineFrameVisuals.cs
  Resources/Locale/en-US/construction/conditions/machine-frame-complete.ftl
  Resources/Prototypes/Entities/Structures/Machines/frame.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/machine.yml
Owners: @Zumorica, @RemieRichards

Redirects :h to department radio channel for headsets (#13026)
  Content.Server/Chat/Systems/ChatSystem.Radio.cs
  Content.Server/Radio/Components/HeadsetComponent.cs
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Owners: none

Complete #5177 (#12724)
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Owners: @Zumorica

Fix docking configs (#13256)
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
Owners: none

makes GetDocks and FoundOrganics public (#13260)
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
Owners: none

Sort the crew manifest by name.
  Content.Server/CrewManifest/CrewManifestSystem.cs
Owners: none

Specify defaultChannel for Nyano headsets and fix artifact EffectIntercom.
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Owners: none

Map Edits
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/arena.yml
Owners: @moonheart08

Add files via upload
  Resources/Maps/pebble.yml
Owners: none

Add files via upload
  Resources/Maps/pebble.yml
Owners: none

Change Panic to Panic Siphon.
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
Owners: @RemieRichards

Support direct transfer between flagged BallisticAmmoProviders.
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
Owners: @RemieRichards

Flag ammo magazines and boxes as directly transferrable.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimaterial.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
Owners: none

Optimize transferring between equal FillProto ammo providers.
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Owners: none
