Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

Use UI scaling for popup overlay (#13169)
  Content.Client/Popups/PopupOverlay.cs
  Content.Client/Popups/PopupSystem.cs
Owners: none

Fix tethergun (#13163)
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Weapons/Ranged/Systems/TetherGunSystem.cs
  Resources/Prototypes/Entities/Virtual/tether.yml
Owners: none

Call reload protoypes on admin changes (#13160)
  Content.Client/Administration/Managers/GamePrototypeLoadManager.cs
  Content.Server/Administration/GamePrototypeLoadManager.cs
  Content.Server/Chemistry/EntitySystems/ChemicalReactionSystem.cs
  Content.Shared/Administration/IGamePrototypeLoadManager.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
Owners: @moonheart08, @PaulRitter, @DrSmugleaf, @mirrorcult

Fixes a subdermal exception (#13145)
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
Owners: none

NPC separation adjustments (#13176)
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
Owners: none

Fix some NPC dancing (#13177)
  Content.Server/NPC/Components/NPCSteeringComponent.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Owners: none

Spawn PointingArrow with EntityCoordinates instead of MapCoordinates. (#13133)
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
Owners: none

Add present logs (#13144)
  Content.Server/Holiday/Christmas/RandomGiftSystem.cs
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
  Content.Shared.Database/LogType.cs
Owners: @Zumorica, @PJB3005, @DrSmugleaf

Goodbye Microwave, Hello Hot Plates! (#13061)
  Content.Server/Chemistry/Components/ActiveSolutionHeaterComponent.cs
  Content.Server/Chemistry/Components/SolutionHeaterComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionHeaterSystem.cs
  Resources/Locale/en-US/chemistry/components/solution-heater-component.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Structures/Machines/hotplate.rsi/beaker.png
  Resources/Textures/Structures/Machines/hotplate.rsi/icon.png
  Resources/Textures/Structures/Machines/hotplate.rsi/meta.json
  Resources/Textures/Structures/Machines/hotplate.rsi/on.png
Owners: @mirrorcult, @RemieRichards

Fix and improve bluespace lockers (#13139)
  Content.Server/Administration/Commands/ClearBluespaceLockerLinks.cs
  Content.Server/Administration/Commands/LinkBluespaceLocker.cs
  Content.Server/Storage/Components/BluespaceLockerComponent.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Owners: @moonheart08, @PaulRitter, @DrSmugleaf

Remove contact pooling cvars (#13054)
  Content.IntegrationTests/PoolManager.cs
Owners: none

Fix build (#13187)
  Content.Client/Clickable/ClickableComponent.cs
Owners: none

Remove damagespecifier warnings (#13192)
  Content.Shared/Damage/DamageSpecifier.cs
Owners: @ElectroJr, @DrSmugleaf

Fire extinguisher fix (#13199)
  Content.Server/Extinguisher/FireExtinguisherSystem.cs
Owners: none

Sharpened the scalpels! (Scalpels can now be used to butcher.) (#13132)
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Owners: none

Moved salvage magnet values from system to component (#13143)
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
Owners: none

Reduce NPC static collision avoidance range (#13197)
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Owners: none

Remove mob pushing (#13191)
  Content.Shared/Movement/Systems/SharedMoverController.Pushing.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Owners: none

remove DeferredUpdate from mover code. (#13198)
  Content.Shared/Movement/Systems/SharedMoverController.cs
Owners: none

Content update for physicsmap changes (#13190)
  Content.Shared/Friction/TileFrictionController.cs
Owners: none

Changes required for component tree engine PR (#13109)
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Owners: @ElectroJr

add buckle logs (#13206)
  Content.Server/Buckle/Systems/BuckleSystem.Buckle.cs
Owners: none

Fix some comp dirty / appearance warnings (#13193)
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Electrocution/SharedElectrocutionSystem.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Jittering/SharedJitteringSystem.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/SubFloor/TrayScannerSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Magazine.cs
Owners: none

add item slot logs (#13184)
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Owners: @ElectroJr

Add machine logs (#13185)
  Content.Server/Gravity/GravityGeneratorSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
Owners: none

Cleanup speech and emoting comps (#13194)
  Content.Server/Mind/Commands/MakeSentientCommand.cs
  Content.Server/Speech/SpeechNoiseSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSpeakerSystem.cs
  Content.Shared/Emoting/EmoteSystem.cs
  Content.Shared/Emoting/EmotingComponent.cs
  Content.Shared/Emoting/SharedEmotingComponent.cs
  Content.Shared/Speech/SpeechComponent.cs
  Content.Shared/Speech/SpeechSystem.cs
Owners: none

Update vending machine restock code.
  Content.Server/Destructible/Thresholds/Behaviors/DumpRestockInventory.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
Owners: none

make drill xenoarch effect item-only (#13209)
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Owners: none

Optimizing the Pill Canisters! (#13220)
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Owners: none

Store ambient sound entities on a component tree. (#13110)
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Audio/AmbientSoundTreeComponent.cs
  Content.Client/Audio/AmbientSoundTreeSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Audio/AmbientSoundComponent.cs
  Content.Shared/Audio/SharedAmbientSoundSystem.cs
Owners: none

Fix possible error in artifact node generation (#13231)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
Owners: none

adjust artifact probability equation (#13229)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
Owners: none

Checks if a buckled entity is terminating before reparent (#13202)
  Content.Server/Buckle/Systems/BuckleSystem.Buckle.cs
Owners: none

puddle visual tweaks (#13181)
  Content.Client/Fluids/PuddleVisualizerSystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
Owners: none

Allows mass scanners and shuttle console radars to resize gracefully (#13241)
  Content.Client/Shuttles/UI/DockingControl.cs
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
Owners: none

Fix popup bugs (#13233)
  Content.Client/Popups/PopupSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
Owners: none

fix ripley grabber bugs (#12962)
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
Owners: none

mech equipment fix (#12969)
  Content.Server/Mech/Systems/MechEquipmentSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
Owners: none

Fix duplicate mech footstep sounds (#12972)
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/Movement/Components/MovementRelayTargetComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Owners: none

mech bug fixes (#13155)
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Resources/Locale/en-US/mech/mech.ftl
Owners: @RemieRichards
