Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

airlock tweak
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
Owners: none

oracle is prayable
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
Owners: none

small yaml features (#949)
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Update shoukou.yml
  Resources/Maps/shoukou.yml
Owners: none

Update shoukou.yml (#950)
  Resources/Maps/shoukou.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Map Edits
  Resources/Maps/arena.yml
Owners: none

Map Edits (#951)
  Resources/Maps/arena.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Add files via upload
  Resources/Maps/lighthouse.yml
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Add files via upload
  Resources/Maps/lighthouse.yml
Owners: none

add fish labeler
  Resources/Prototypes/Entities/Objects/Tools/fish_labeler.yml
Owners: none

crafting fish labeler
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Tools/fish_labeler.yml
  Resources/Prototypes/Entities/Objects/Tools/hand_labeler.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/fish_labeler.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
Owners: @Zumorica

Update Shoukou
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Owners: @moonheart08

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Delete client-side shots when transferring ammo.
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Owners: none

Add mind and ghost logs (#13306)
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/Ghost/Ghost.cs
  Content.Server/Mind/Mind.cs
  Content.Shared.Database/LogType.cs
Owners: @moonheart08, @Zumorica, @PJB3005, @DrSmugleaf

Refactored PowerNet (#13287)
  Content.Server/Power/NodeGroups/PowerNet.cs
Owners: none

`EmitSound` prediction (#13282)
  Content.Client/Sound/EmitSoundSystem.cs
  Content.Server/Sound/Components/EmitSoundOnTriggerComponent.cs
  Content.Server/Sound/Components/EmitSoundOnUIOpenComponent.cs
  Content.Server/Sound/Components/SpamEmitSoundComponent.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Shared/Sound/Components/BaseEmitSoundComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnActivateComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnDropComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnLandComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnPickupComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnSpawnComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnThrowComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnUseComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
Owners: none

Fixes quick dialog exception (#13189)
  Content.Server/Administration/QuickDialogSystem.cs
Owners: @moonheart08, @PaulRitter, @DrSmugleaf

Fixes mass scanner UIs being smol by default by defining a setsize (#13327)
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
Owners: none

Remove some explosion resolves (#13330)
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Airtight.cs
Owners: @Zumorica, @ElectroJr

Make clickmap lookups use the sprite tree (#13275)
  Content.Client/Clickable/ClickableComponent.cs
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Gameplay/GameplayStateBase.cs
  Content.Client/Outline/InteractionOutlineSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.IntegrationTests/Tests/ClickableTest.cs
Owners: @ElectroJr

Add sprite fades for occluding sprites (#13267)
  Content.Client/Sprite/FadingSpriteComponent.cs
  Content.Client/Sprite/SpriteFadeSystem.cs
  Content.Shared/Sprite/SpriteFadeComponent.cs
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Owners: none

Portal pull fix (#13336)
  Content.Shared/Teleportation/Systems/PortalSystem.cs
Owners: none

Geiger component for utility and CE belts whitelist (#13290)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Owners: none

Fix eye rotation on suicide command (#12985)
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.cs
Owners: @moonheart08, @Zumorica

fixes radar UI improperly scaling with ui scaling (#13358)
  Content.Client/Shuttles/UI/DockingControl.cs
  Content.Client/Shuttles/UI/RadarControl.cs
Owners: none

wallmount gen and sub fixes (#13353)
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_generator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
Owners: @Zumorica

More portal fixes (#13359)
  Content.Server/Explosion/Components/TriggerOnCollideComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Teleportation/Systems/LinkedEntitySystem.cs
Owners: @ElectroJr

Tile prying removes decals (#13363)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Chemistry/TileReactions/PryTileReaction.cs
  Content.Server/Maps/TileSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Tools/ToolSystem.LatticeCutting.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ThrowArtifactSystem.cs
  Content.Shared/Maps/TurfHelpers.cs
Owners: @Zumorica, @mirrorcult, @moonheart08

Misc replay related changes (#13250)
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Administration/GamePrototypeLoadManager.cs
  Content.Server/Administration/NetworkResourceManager.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Shared/Administration/IGamePrototypeLoadManager.cs
  Content.Shared/Administration/SharedNetworkResourceManager.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Spawners/EntitySystems/SharedTimedDespawnSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Owners: @moonheart08, @PaulRitter, @DrSmugleaf, @ElectroJr

Generalized material spawning (#12489)
  Content.IntegrationTests/Tests/Materials/MaterialTests.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
Owners: @mirrorcult

Fix #13250 (#13368)
  Content.Server/Administration/GamePrototypeLoadManager.cs
  Content.Server/Administration/NetworkResourceManager.cs
Owners: @moonheart08, @PaulRitter, @DrSmugleaf

MaterialComponent cleanup (#13326)
  Content.IntegrationTests/Tests/Materials/MaterialTests.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Materials/MaterialComponent.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
Owners: @mirrorcult

decouple material insertion visualization from lathes (#13242)
  Content.Client/Lathe/LatheSystem.cs
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Server/Lathe/Components/LatheInsertingComponent.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Materials/InsertingMaterialStorageComponent.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: none
