Repository Nyanotrasen/Nyanotrasen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moonheart08, @PaulRitter, @DrSmugleaf, @Zumorica, @mirrorcult, @ElectroJr, @RemieRichards, @PJB3005

.github/CODEOWNERS:

# Last match in file takes precedence.

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @Zumorica
/Resources/Server\ Info/ @moonheart08
/Resources/engineCommandPerms.yml @moonheart08
/Resources/clientCommandPerms.yml @moonheart08
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Atmos/ @Zumorica
/Content.*/Botany/ @Zumorica
/Content.*/Construction/ @Zumorica
/Content.*/Holiday/ @Zumorica
/Content.*/Instruments/ @Zumorica
/Content.*/Stunnable/ @Zumorica
/Resources/Prototypes/game_* @Zumorica # Both game_presets.yml and game_rules.yml
/Resources/Prototypes/holidays.yml @Zumorica
/Resources/Prototypes/tool_qualities.yml @Zumorica
/Resources/Prototypes/Atmospherics/ @Zumorica
/Resources/Prototypes/Recipes/Construction @Zumorica
/Resources/Prototypes/Recipes/Crafting @Zumorica

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

mug solution level visuals (#13251)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Textures/Objects/Consumable/Drinks/mug.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_black.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_black.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_black.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_blue.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_blue.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_blue.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_green.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_green.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_green.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_heart.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_heart.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_heart.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_metal.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_metal.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_metal.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_moebius.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_moebius.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_moebius.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_one.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_one.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_one.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_rainbow.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_rainbow.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_rainbow.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_red.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_red.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_red.rsi/icon-3.png
Owners: none

Context menu UI backend refactor & better UX (#13318)
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/CombatMode/CombatModeComponent.cs
  Content.Client/Commands/GroupingEntityMenuCommand.cs
  Content.Client/ContextMenu/UI/ContextMenuPopup.xaml.cs
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
  Content.Client/ContextMenu/UI/EntityMenuElement.cs
  Content.Client/ContextMenu/UI/EntityMenuPresenterGrouping.cs
  Content.Client/ContextMenu/UI/EntityMenuUIController.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.Client/Verbs/UI/VerbMenuUIController.cs
  Content.Client/Verbs/VerbSystem.cs
Owners: @moonheart08, @PaulRitter, @DrSmugleaf, @ElectroJr

Fix context menu not fully closing (#13376)
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
Owners: @ElectroJr

Update tilechangedevent to ref structs (#13383)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/EntitySystems/AutomaticAtmosSystem.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.GridMap.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
Owners: @Zumorica, @PaulRitter, @ElectroJr

Don't give maps shuttlecomponent (#13384)
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
Owners: none

Fix crew manifest sorting (#13286)
  Content.Client/CrewManifest/CrewManifestUi.xaml.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
Owners: none

emitter visuals update (#13382)
  Content.Client/Singularity/Systems/EmitterSystem.cs
  Content.Client/Singularity/Visualizers/EmitterVisualizer.cs
  Content.Server/Singularity/Components/EmitterComponent.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Shared/Singularity/Components/SharedEmitterComponent.cs
  Content.Shared/Singularity/EntitySystems/SharedEmitterSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
Owners: none

Have crew monitor display entity coordinates instead (#13120)
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Owners: none

fix immediate errors
  Content.Server/Disease/VaccineSystem.cs
  Content.Server/Nyanotrasen/Arachne/ArachneSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
Owners: none

Delete client-side shots when transferring ammo. (#956)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Owners: none

fix test
  Resources/Maps/Test/admin_test_arena.yml
  Resources/Maps/lighthouse.yml
Owners: none

glory to nyanotrasen
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/Graphs/fish_labeler.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
Owners: @Zumorica

book bag
  Resources/Maps/bagel.yml
  Resources/Maps/box.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/cataloguer.yml
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/meta.json
Owners: none

add fish labeler (#954)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Tools/fish_labeler.yml
  Resources/Prototypes/Entities/Objects/Tools/hand_labeler.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/Graphs/fish_labeler.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

finally
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Resources/Maps/bagel.yml
  Resources/Maps/box.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
Owners: @moonheart08

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

remove telebaton
  Content.Client/Nyanotrasen/Collapsible/CollapsibleSystem.cs
  Content.Client/Nyanotrasen/Collapsible/CollapsibleVisualsComponent.cs
  Content.Server/Nyanotrasen/Collapsible/CollapsibleComponent.cs
  Content.Server/Nyanotrasen/Collapsible/CollapsibleSystem.cs
  Content.Shared/Nyanotrasen/Collapsible/CollapsibleVisuals.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/ourjobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/baton.yml
Owners: none

new secret weights
  Resources/Prototypes/secret_weights.yml
Owners: none

primate buffs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/primates.yml
Owners: none

remove 5 minutes after violent death
  Resources/Prototypes/SoundCollections/lobby.yml
Owners: none

circuit imprinter board uses eng color
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Owners: none

oracle flashlight
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
Owners: none

drill to eng lathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
Owners: none

spritefade for oracle and grammateus
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
Owners: none

take the swarmpill
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Owners: none

fix tests
  Content.Server/Entry/IgnoredComponents.cs
Owners: none

Update20230109 (#958)
  Content.Client/Nyanotrasen/Collapsible/CollapsibleSystem.cs
  Content.Client/Nyanotrasen/Collapsible/CollapsibleVisualsComponent.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Collapsible/CollapsibleComponent.cs
  Content.Server/Nyanotrasen/Collapsible/CollapsibleSystem.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
  Content.Shared/Nyanotrasen/Collapsible/CollapsibleVisuals.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/ourjobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/primates.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/baton.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/secret_weights.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

fix machine upgrading
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
  Resources/Locale/en-US/medical/components/medical-scanner-component.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
Owners: @RemieRichards

remote logger
  Content.Server/Medical/MedicalScannerSystem.cs
Owners: none

metempsychotic machine changes (#959)
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
  Resources/Locale/en-US/medical/components/medical-scanner-component.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
Owners: @RemieRichards

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

fix blocker
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
Owners: none

fix mech regression
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
Owners: none

rat tweaks
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Owners: none

felinid tweaks
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
Owners: none

rat servant tweaks (#960)
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
Owners: none

Automatic changelog update
  Resources/Changelog/NyanotrasenChangelog.yml
Owners: none

Map Edits
  Resources/Maps/arena.yml
Owners: none
