Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-11, with the labels that each got.

#615 Pebble Update 3
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#617 Nyanoupdatesoct31
  Content.Server/Nyanotrasen/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Nyanotrasen/Objectives/Conditions/RaiseGlimmerCondition.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsCommands.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/PsionicComponent.cs
  Resources/Locale/en-US/objectives/conditions/glimmer-400-condition.ftl
  Resources/Locale/en-US/psionics/psionic-commands.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Maps/angle.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/saucer.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/anytaur_inventory_template.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Changes: Map

#619 Pebble Update 4
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#620 Update 11/02
  Content.Server/Nyanotrasen/Psionics/Glimmer/Events/NoosphericZap.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/Structures/GlimmerSourceComponent.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
  Resources/Prototypes/Maps/angle.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Circuitboards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
Labels: Changes: Map

#626 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#629 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#630 Pebble Artifact research update.
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#631 add a book to salvage
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Books/lore.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
Labels: No C#

#632 Lighthouse Updoot
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#639 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#640 Create ntv-pickett.yml
  Resources/Maps/Shuttles/ntv-pickett.yml
Labels: No C#

#643 Add poster referencing Saucer's rating.
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/posters.rsi/poster_saucer1.png
Labels: No C#, Changes: Sprites

#642 Arena initial PR
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Maps/arena.yml
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/untimedAISpawners.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/untimedAISpawners.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/gladiator.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/gladiator.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/gladiator.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/gladiator.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/gladiator.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#646 Hotfix
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#647 Make glimmer machine sprites noRot.
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
Labels: No C#

#648 Add pyrokinesis icon.
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/license.txt
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/pyrokinesis.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/pyrokinesis.png.yml
Labels: No C#

#651 Minor edits
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#652 Lighthouse Update
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#654 Fixes Recycler in Atmos
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#655 Update 11/14
  Content.Server/Chat/Commands/SuicideCommand.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PsionicInvisibilityPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PsionicRegenerationPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PyrokinesisPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/TelegnosisPowerSystem.cs
  Content.Server/Nyanotrasen/Chapel/SacrificialAltarComponent.cs
  Content.Server/Nyanotrasen/Chapel/SacrificialAltarSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/MassSleep/MassSleepPowerSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Metapsionics/MetapsionicPowerSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/clang2.ogg
  Resources/Locale/en-US/chapel/altar.ftl
  Resources/Maps/arena.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/psionic_clothing.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/untimedAISpawners.yml
  Resources/Prototypes/Nyanotrasen/psionicArtifacts.yml
Labels: Changes: Map

#657 Update1115
  Content.Client/Research/UI/ResearchConsoleBoundUserInterface.cs
  Content.Client/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.IntegrationTests/Tests/Nyanotrasen/Mail/MailTest.cs
  Content.Server/Nyanotrasen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Research/Components/ResearchServerComponent.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Shared/Research/Components/SharedResearchConsoleComponent.cs
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/research/components/research-console-component.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Passenger.png
Labels: Changes: Sprites, Changes: UI

#658 Law rework
  Content.Client/Borgs/LawsBoundUserInterface.cs
  Content.Client/Borgs/LawsMenu.xaml
  Content.Client/Borgs/LawsMenu.xaml.cs
  Content.Server/Nyanotrasen/Borgs/LawsComponent.cs
  Content.Server/Nyanotrasen/Borgs/LawsSystem.cs
  Content.Shared/Nyanotrasen/Borgs/LawMessages.cs
  Content.Shared/Nyanotrasen/Borgs/LawsComponent.cs
  Resources/Locale/en-US/borg/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
Labels: Changes: UI

#660 add apply for whitelist button to esc menu
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Resources/Locale/en-US/escape-menu/ui/escape-menu.ftl
Labels: Changes: UI

#664 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#665 Update angle.yml prototype
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map

#667 add a bunch of hyperlink books
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
Labels: No C#

#668 stock library
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#670 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#671 Pebble Update 6
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#674 Adds Rickenbacker
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-right.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#678 Minor Pebbles Fixs
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#680 Early merge request: Add access wires to layouts with AccessReaders.
  Resources/Prototypes/Wires/layouts.yml
Labels: No C#

#681 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#683 Update1121
  Content.Server/Disease/VaccineSystem.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/Events/NoosphericFry.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/psionic_clothing.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/cataloguer.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/epistemologist.yml
  Resources/Prototypes/Nyanotrasen/psionicArtifacts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
Labels: Changes: Map

#684 Adds machine parts spawners
  Resources/Prototypes/Entities/Markers/Spawners/Random/machineparts.yml
Labels: No C#

#686 RNG_Spawners
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/books.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/hats.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/machineparts.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/randomitems.yml
Labels: No C#

#687 restore access to youtool
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#688 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#685 OKAY FINE I'LL DO IT
  Resources/Locale/en-US/markings/moth.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Species/moth.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/antenna_default.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/moth_antenna.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/moth_markings.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/moth_wings.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/stan.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/wings_default.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/wings_look1.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/wings_look2.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/wings_look3.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/full.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/head_f.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/head_m.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/icon.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/l_arm.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/l_foot.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/l_hand.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/l_leg.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/r_arm.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/r_foot.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/r_hand.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/r_leg.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/torso_f.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/torso_m.png
  Resources/Textures/Nyanotrasen/Mobs/Species/moth_eyes.rsi/eyes.png
  Resources/Textures/Nyanotrasen/Mobs/Species/moth_eyes.rsi/meta.json
  build4testing.bat
Labels: No C#, Changes: Sprites

#676 Golems
  Content.Client/Soul/GolemBoundUserInterface.cs
  Content.Client/Soul/GolemWindow.xaml
  Content.Client/Soul/GolemWindow.xaml.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Nyanotrasen/Borgs/LawsSystem.cs
  Content.Server/Nyanotrasen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Nyanotrasen/Soul/Components/GolemComponent.cs
  Content.Server/Nyanotrasen/Soul/Components/SoulCrystalComponent.cs
  Content.Server/Nyanotrasen/Soul/GolemSystem.cs
  Content.Shared/Nyanotrasen/Borgs/LawsComponent.cs
  Content.Shared/Nyanotrasen/Borgs/SharedLawsSystem.cs
  Content.Shared/Nyanotrasen/Soul/GolemMessages.cs
  Resources/Locale/en-US/soul/golem.ftl
  Resources/Prototypes/Nyanotrasen/Body/Parts/golem.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/golem.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/golem_inventory_tempalte.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/golem.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/machines.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/cultgolem_chest.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/cultgolem_head.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/cultgolem_l_arm.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/cultgolem_l_hand.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/cultgolem_l_leg.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/cultgolem_r_arm.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/cultgolem_r_hand.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/cultgolem_r_leg.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/full.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/lights.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/cult.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#691 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#692 bzzzzzzzzzzzzzz
  Resources/Audio/Voice/Moth/license.txt
  Resources/Audio/Voice/Moth/scream_moth.ogg
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/moth.yml
Labels: No C#

#693 Add verb icon for Noospheric Zap.
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/license.txt
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/noospheric_zap.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/noospheric_zap.png.yml
Labels: No C#

#695 fix moth wings
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/antenna_default.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/moth_antenna.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/moth_markings.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/moth_wings.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/stan.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/wings_default.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/wings_look1.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/wings_look2.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_parts.rsi/wings_look3.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_wings.rsi/default.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_wings.rsi/look1.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_wings.rsi/look2.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_wings.rsi/look3.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_wings.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/moth_eyes.rsi/eyes.png
Labels: No C#, Changes: Sprites

#696 several small tweaks
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Prototypes/Body/Organs/animal.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: No C#

#697 Remove mail delivery for six pack of cola until it's not broken.
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
Labels: No C#

#699 Give the Mystagogue a proper headset in the locker.
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/ourjobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Ears/headsets.yml
Labels: No C#

#702 Arena Map Edits
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#703 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#708 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#705 enable using plushies as grenade triggers
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#, Status: Needs Review

#710 Fix door access for Mantis on Lighthouse.
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#711 Add new Space Law icon.
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
  Resources/Textures/Nyanotrasen/Objects/Misc/books.rsi/law_space.png
  Resources/Textures/Nyanotrasen/Objects/Misc/books.rsi/law_trial.png
  Resources/Textures/Nyanotrasen/Objects/Misc/books.rsi/meta.json
Labels: No C#, Changes: Sprites

#709 Add custom names for Moths.
  Resources/Prototypes/Datasets/Names/moth_female.yml
  Resources/Prototypes/Datasets/Names/moth_last.yml
  Resources/Prototypes/Datasets/Names/moth_male.yml
  Resources/Prototypes/Nyanotrasen/Species/moth.yml
Labels: No C#

#706 boxing vend
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/boxingdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/broken.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/normal-unshaded.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/off.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/panel.png
  SpaceStation14.sln
Labels: No C#, Changes: Sprites

#713 huh, skub
  Resources/Prototypes/Entities/Objects/Fun/skub.yml
Labels: No C#

#715 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#716 Pebble Update 7
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#720 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#723 Update1129
  Content.Client/Prayer/PrayerSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/RFSensitivityPowerSystem.cs
  Content.Server/Nyanotrasen/Chat/NyanoChatSystem.cs
  Content.Server/Nyanotrasen/Chat/TelepathicRepeaterComponent.cs
  Content.Server/Nyanotrasen/Soul/GolemSystem.cs
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/RFSensitivity/RFSensitivityPower.cs
  Content.Shared/Prayer/SharedPrayerSystem.cs
  Resources/Locale/en-US/abilities/psionic.ftl
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/misc.yml
  Resources/Prototypes/Nyanotrasen/Reagents/psionic.yml
  Resources/Prototypes/Nyanotrasen/psionicArtifacts.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
  Resources/Textures/Nyanotrasen/Mobs/Player/Borgs/cyborg_medical.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Player/Borgs/cyborg_medical.rsi/robot-flashlight.png
Labels: Changes: Sprites

#724 Added new salvage - Research post
  Resources/Maps/Salvage/researchpost.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#726 Adds Salvage map
  Resources/Maps/Salvage/large-engineer-chunk.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#728 Update angle.yml
  Resources/Maps/angle.yml
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map
