Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-05, with the labels that each got.

#25 Random Mail System
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Mail/MailSystem.cs
  Content.Client/Mail/MailVisualsComponent.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Mail/Components/MailComponent.cs
  Content.Server/Mail/Components/MailReceiverComponent.cs
  Content.Server/Mail/Components/MailTeleporterComponent.cs
  Content.Server/Mail/MailSystem.cs
  Content.Shared/Mail/MailVisuals.cs
  Resources/Locale/en-US/Mail/mail.ftl
  Resources/Maps/atlas.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Entities/Structures/Machines/mailTeleporter.yml
  Resources/Textures/Objects/Specific/Mail/mail.rsi/icon.png
  Resources/Textures/Objects/Specific/Mail/mail.rsi/locked.png
  Resources/Textures/Objects/Specific/Mail/mail.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

#27 Detective yml changes + Access cleanup + Map update
  Resources/Maps/atlas.yml
  Resources/Prototypes/Access/cargo.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Objectives/traitorObjectives..yml
  Resources/Prototypes/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Detective.png
  Resources/Textures/Objects/Misc/id_cards.rsi/iddetective.png
Labels: No C#, Changes: Sprites, Changes: Map

#31 Mail bag
  Resources/Prototypes/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/Roles/Jobs/Cargo/mail_carrier.yml
Labels: No C#

#29 Forensics System
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Forensics/ForensicScannerBoundUserInterface.cs
  Content.Client/Forensics/ForensicScannerMenu.xaml
  Content.Client/Forensics/ForensicScannerMenu.xaml.cs
  Content.Server/Forensics/Components/FiberComponent.cs
  Content.Server/Forensics/Components/FingerprintComponent.cs
  Content.Server/Forensics/Components/FingerprintMaskComponent.cs
  Content.Server/Forensics/Components/ForensicPadComponent.cs
  Content.Server/Forensics/Components/ForensicScannerComponent.cs
  Content.Server/Forensics/Components/ForensicsComponent.cs
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Forensics/ForensicScannerEvent.cs
  Content.Shared/Item/UserInteractedWithItemEvent.cs
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Locale/en-US/forensics/forensics.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Devices/forensic_scanner.yml
  Resources/Prototypes/Entities/Objects/Specific/Forensics/forensics.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Textures/Objects/Devices/forensic_scanner.rsi/forensicnew.png
  Resources/Textures/Objects/Devices/forensic_scanner.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#33 Miniature Energy Crossbow
  Resources/Audio/Weapons/Guns/Gunshots/crossbow_shot.ogg
  Resources/Audio/Weapons/Guns/Gunshots/license.txt
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Recharge/mini_ebow.yml
  Resources/Textures/Objects/Weapons/Guns/Projectiles/plasma.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/plasma.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/bolt.png
  Resources/Textures/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/empty.png
  Resources/Textures/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/meta.json
Labels: No C#, Changes: Sprites

#35 Atlas update (med redesign)
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/delta.yml
  Resources/Prototypes/Maps/game.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/splitstation.yml
Labels: No C#, Changes: Map

#37 Bagel and atlas updates
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: No C#, Changes: Map

#41 Map updates for 05/04
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#44 Unique rules.txt
  Resources/Server Info/Rules.txt
Labels: No C#

#45 Species tweaks
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Roles/Jobs/Civilian/boxer.yml
  Resources/Prototypes/species.yml
Labels: No C#

#46 I LOVE LEAN
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#

#47 Fix Integration Tests
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#

#55 Segregate out ebow
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Recharge/mini_ebow.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Projectiles/plasma.rsi/base.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Projectiles/plasma.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/bolt.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/empty.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Recharge/mini-ebow.rsi/meta.json
Labels: No C#, Changes: Sprites

#56 Reduce atlas jobs for lowpop
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map

#57 Shock Collar
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/ShockCollar/ShockCollarComponent.cs
  Content.Server/Nyanotrasen/ShockCollar/ShockCollarSystem.cs
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/shock_collar.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/security.yml
  Resources/Textures/Nyanotrasen/Clothing/Neck/Misc/shock.rsi/equipped-NECK.png
  Resources/Textures/Nyanotrasen/Clothing/Neck/Misc/shock.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Neck/Misc/shock.rsi/meta.json
Labels: Changes: Sprites

#59 quantum spin inverters
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/QSI/QuantumSpinInverterComponent.cs
  Content.Server/Nyanotrasen/QSI/QuantumSpinInverterSystem.cs
  Resources/Locale/en-US/devices/qsi.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Research/research.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/qsi.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Textures/Nyanotrasen/Objects/Devices/QSI.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Devices/QSI.rsi/meta.json
Labels: Changes: Sprites

#60 Advanced mop
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/janitorial.yml
  Resources/Textures/Nyanotrasen/Objects/Specific/Janitorial/advmop.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Janitorial/advmop.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Janitorial/advmop.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Specific/Janitorial/advmop.rsi/mop.png
Labels: No C#, Changes: Sprites

#61 Decloner
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Battery/decloner.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Battery/decloner.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Battery/decloner.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Battery/decloner.rsi/meta.json
Labels: No C#, Changes: Sprites

#62 Lockboxes + decloner tech
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/lockbox.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Research/research.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Storage/lockbox.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/security.yml
  Resources/Textures/Nyanotrasen/Objects/Storage/lockbox.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Storage/lockbox.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Storage/lockbox.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Storage/lockbox.rsi/locked.png
  Resources/Textures/Nyanotrasen/Objects/Storage/lockbox.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Storage/lockbox.rsi/unlocked.png
Labels: Changes: Sprites

#63 Sci techfab
  Resources/Maps/atlas.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/techfab.rsi/sci.png
Labels: No C#, Changes: Sprites, Changes: Map

#72 Research points disk
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Research/Disk/ResearchDiskComponent.cs
  Content.Server/Nyanotrasen/Research/Disk/ResearchDiskSystem.cs
  Content.Server/Research/Components/ResearchServerComponent.cs
  Resources/Locale/en-US/research/components/research-disk.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/disk.yml
  Resources/Textures/Nyanotrasen/Objects/Specific/Research/datadisk.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Research/datadisk.rsi/meta.json
Labels: Changes: Sprites

#73 Bluespace crystals + QSI fix
  Content.Server/Nyanotrasen/QSI/QuantumSpinInverterSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/bluespace.png
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/meta.json
Labels: Changes: Sprites

#75 Decloner fix + lockboxes say which access they require
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/lockbox.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#

#76 Add research disks & bluespace to a bunch of loot tables
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/artifacts.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/disk.yml
Labels: No C#

#78 Oracles
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleComponent.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Locale/en-US/research/oracle.ftl
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
Labels: Changes: Map

#79 Holoprojectors for janitor
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Holosign/HolosignProjectorComponent.cs
  Content.Server/Nyanotrasen/Holosign/HolosignSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Holographic/projections.yml
  Resources/Textures/Nyanotrasen/Objects/Devices/Holoprojectors/custodial.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Devices/Holoprojectors/custodial.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Holo/wetfloor.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Holo/wetfloor.rsi/meta.json
Labels: Changes: Sprites

#82 Holofan projector
  Content.Server/Nyanotrasen/Holosign/HolosignSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Holographic/projections.yml
  Resources/Textures/Nyanotrasen/Objects/Devices/Holoprojectors/atmos.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Devices/Holoprojectors/atmos.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Holo/holofan.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Holo/holofan.rsi/meta.json
Labels: Changes: Sprites

#83 science dept reflavoring
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Chaplain.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Detective.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Scientist.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/mystic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/mystic.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/mystic.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/nun.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/nun.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/nun.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/white.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/white.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Suits/areopagite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Suits/areopagite.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Suits/areopagite.rsi/meta.json
Labels: No C#, Changes: Sprites

#84 atlas science update
  Resources/Maps/atlas.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Librarian.png
  Resources/Textures/Nyanotrasen/Structures/Holo/holofan.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Holo/holofan.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#85 cataloguer and atlas library and new drip
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/areopagite.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/areopagite.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/areopagite.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/brownhood.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/brownhood.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/brownhood.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mystic.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mystic.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mystic.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/brown.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/brown.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/brown.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#86 New techfabs and new lathe recipes + atlas lathe changes
  Resources/Maps/atlas.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Research/research.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/engineering.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/janitorial.yml
  Resources/Textures/Structures/Machines/techfab.rsi/eng.png
  Resources/Textures/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/techfab.rsi/service.png
Labels: No C#, Changes: Sprites, Changes: Map

#89 add unused recipes to the service lathe
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
Labels: No C#

#90 Telebaton
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Nyanotrasen/Collapsible/CollapsibleSystem.cs
  Content.Client/Nyanotrasen/Collapsible/CollapsibleVisualsComponent.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Collapsible/CollapsibleComponent.cs
  Content.Server/Nyanotrasen/Collapsible/CollapsibleSystem.cs
  Content.Server/Nyanotrasen/StunOnHit/StunOnHitComponent.cs
  Content.Server/Nyanotrasen/StunOnHit/StunOnHitSystem.cs
  Content.Shared/Nyanotrasen/Collapsible/CollapsibleVisuals.cs
  Resources/Audio/Weapons/batonextend.ogg
  Resources/Audio/Weapons/license.txt
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/baton.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/telebaton.rsi/icon-on.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/telebaton.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/telebaton.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/telebaton.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/telebaton.rsi/meta.json
Labels: Changes: Sprites

#91 bagel update 05/11
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#92 fix vomit visuals
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: No C#

#101 Holofans no longer damage you when inside them
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Holographic/projections.yml
Labels: No C#

#105 misc fixes
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Roles/Jobs/Civilian/boxer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/species.yml
Labels: No C#, Changes: Map

#109 more mail!!
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
Labels: No C#

#106 Pigeon And ShrinkRay
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Battery/shrinkray.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Battery/shrinkray.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Battery/shrinkray.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Battery/shrinkray.rsi/meta.json
Labels: No C#, Changes: Sprites

#113 new mail teleporter visuals
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/unlit.png
Labels: No C#, Changes: Sprites

#114 Sophic Grammateus
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Research/SophicScribe/SophicScribeComponent.cs
  Content.Server/Nyanotrasen/Research/SophicScribe/SophicScribeReports.cs
  Content.Server/Nyanotrasen/Research/SophicScribe/SophicScribeSystem.cs
  Resources/Locale/en-US/research/sophic/metadata.ftl
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
Labels: Changes: Map

#119 Fix felinid appearance stuff
  Content.Client/CharacterAppearance/Systems/HumanoidAppearanceSystem.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayers.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayersExtension.cs
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Presets/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Textures/Mobs/Customization/cat_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/cat_parts.rsi/tail_cat.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_ears_cat_BEHIND.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_ears_cat_COMBINED.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_ears_cat_FRONT.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_earsinner_cat_FRONT.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_tail_cat_FRONT.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_waggingtail_cat_FRONT.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Felinid/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Felinid/parts.rsi/meta.json
Labels: Changes: Sprites

#118 Oni
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Abilities/Oni/HeldByOniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
  Content.Server/Weapon/Ranged/GunSystem.cs
  Resources/Locale/en-US/abilities/oni.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/species.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/double_curved_outwards.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/single_curved.png
Labels: Changes: Sprites

#120 oni eyes are scaled by 1.2 also
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/oni.yml
Labels: No C#

#124 kanabou
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/meta.json
Labels: No C#, Changes: Sprites

#125 Kanabou in uplink + wieldable
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
Labels: No C#

#126 Kanabou Retexture
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/equipped-BACKPACK.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/wielded-inhand-left-Recovered.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/wielded-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-left-Recovered.png
Labels: No C#, Changes: Sprites

#130 Oni + kanabou polish
  Resources/Audio/Weapons/club-miss.ogg
  Resources/Audio/Weapons/club.ogg
  Resources/Audio/Weapons/license.txt
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Textures/Nyanotrasen/Clothing/Neck/Misc/shock.rsi/equipped-NECK.png
  Resources/Textures/Nyanotrasen/Clothing/Neck/Misc/shock.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Neck/Misc/shock.rsi/meta.json
Labels: No C#, Changes: Sprites

#131 Ayayayayaya
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster_ayaya.png
Labels: No C#, Changes: Sprites

#133 Cleanbots
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/AI/EntitySystems/GoToPuddleSystem.cs
  Content.Server/Nyanotrasen/AI/Utility/Actions/Bots/GoToPuddleAndWait.cs
  Content.Server/Nyanotrasen/AI/Utility/ExpendableActions/Bots/BufferNearbyPuddlesExp.cs
  Content.Server/Nyanotrasen/FloorBuffer/FloorBufferComponent.cs
  Content.Server/Nyanotrasen/FloorBuffer/FloorBufferSystem.cs
  Resources/Maps/atlas.yml
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/NPCs/behavior_sets.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Recipes/Crafting/Graphs/Bot/cleanbot.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Recipes/Crafting/bots.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Research/research.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Misc/botparts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/robotics.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Nyanotrasen/Mobs/Robots/cleanbot.rsi/cleanbot.png
  Resources/Textures/Nyanotrasen/Mobs/Robots/cleanbot.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Misc/proximity_sensor.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Misc/proximity_sensor.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

#134 Honkbot
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Bots/HonkBotComponent.cs
  Content.Server/Nyanotrasen/Bots/HonkBotSystem.cs
  Resources/Prototypes/Nyanotrasen/Catalog/Recipes/Crafting/Graphs/Bot/honkbot.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Recipes/Crafting/bots.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/Nyanotrasen/Mobs/Robots/honkbot.rsi/honkbot.png
  Resources/Textures/Nyanotrasen/Mobs/Robots/honkbot.rsi/meta.json
Labels: Changes: Sprites

#141 Automaturge
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Science/automaturge.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/detective.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Roboticist.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/techpriest.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/techpriest.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/techpriest.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/techpriest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/techpriest.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Robes/techpriest.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#143 Robotech vending machine
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/robotech.rsi/broken.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/robotech.rsi/deny-unshaded.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/robotech.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/robotech.rsi/normal-unshaded.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/robotech.rsi/off.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/robotech.rsi/panel.png
Labels: No C#, Changes: Sprites, Changes: Map

#148 Farting 1948
  Content.Client/EscapeMenu/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Input/ContentContexts.cs
  Content.Server/Nyanotrasen/Abilities/Fart/FartSystem.cs
  Content.Server/Nyanotrasen/Abilities/Fart/FarterComponent.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/abilities/fart.ftl
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/keybinds.yml
Labels: Changes: UI

#150 Cyborgs (enough for adminbus spawn anyway)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Borgs/InnateToolComponent.cs
  Content.Server/Nyanotrasen/Borgs/InnateToolSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Textures/Nyanotrasen/Mobs/Player/Borgs/cyborg.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Player/Borgs/cyborg.rsi/robot.png
Labels: Changes: Sprites

#151 borg state laws and some borg tools
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Borgs/LawsComponent.cs
  Content.Server/Nyanotrasen/Borgs/LawsSystem.cs
  Content.Server/Nyanotrasen/Chemistry/AutoRegenReagent/AutoRegenReagentComponent.cs
  Content.Server/Nyanotrasen/Chemistry/AutoRegenReagent/AutoRegenReagentSystem.cs
  Resources/Locale/en-US/borg/laws.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
  Resources/Textures/Nyanotrasen/Mobs/Player/Borgs/cyborg.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Player/Borgs/cyborg.rsi/robot-flashlight.png
Labels: Changes: Sprites

#153 borg tool rejigger
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
Labels: No C#

#154 horrifying borg hack
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Nyanotrasen/Borgs/BorgComponent.cs
  Content.Server/Nyanotrasen/Borgs/BorgSystem.cs
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Polymorph/borg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Science/cyborg.yml
Labels: Changes: Map

#156 lock borg slots
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
Labels: No C#

#157 borg polish pass
  Content.Server/Nyanotrasen/Borgs/InnateItemSystem.cs
  Content.Server/Nyanotrasen/Borgs/InnateToolSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Nyanotrasen/Objects/Devices/Holoprojectors/eng.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Devices/Holoprojectors/eng.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Holo/eng.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Holo/eng.rsi/meta.json
Labels: Changes: Sprites

#162 disable borgs from antag real quick
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Science/cyborg.yml
Labels: No C#

#165 Fix borg movement and stack splitting
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
Labels: No C#

#167 medibot con graph only accepts discrete health analyzers
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Recipes/Crafting/Graphs/Bot/medibot.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#169 update atlas and bagel
  Resources/Maps/atlas.yml
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#175 disable gachi evans lobby song
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#
