Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-08, with the labels that each got.

#324 Lighting and power fixes.
  Resources/Maps/neweden.yml
Labels: No C#, Changes: Map, Merge Conflict

#299 Atlas update
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map

#327 Atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#328 Atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#329 Early merge cloning rework
  Content.Client/Body/UI/BodyScannerBoundUserInterface.cs
  Content.Client/Cloning/UI/CloningPodBoundUserInterface.cs
  Content.Client/Cloning/UI/CloningPodWindow.cs
  Content.Client/CloningConsole/UI/CloningConsoleBoundUserInterface.cs
  Content.Client/CloningConsole/UI/CloningConsoleWindow.xaml
  Content.Client/CloningConsole/UI/CloningConsoleWindow.xaml.cs
  Content.Client/MedicalScanner/UI/MedicalScannerBoundUserInterface.cs
  Content.Client/MedicalScanner/UI/MedicalScannerWindow.xaml
  Content.Client/MedicalScanner/UI/MedicalScannerWindow.xaml.cs
  Content.Server/Body/Components/BodyReassembleComponent.cs
  Content.Server/Body/Systems/BodyReassembleSystem.cs
  Content.Server/Cloning/AcceptCloningEui.cs
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/ActiveCloningPodComponent.cs
  Content.Server/Cloning/Components/CloningConsoleComponent.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Content.Server/Mind/Commands/RenameCommand.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Shared/Cloning/SharedCloningConsole.cs
  Content.Shared/Cloning/SharedCloningPodComponent.cs
  Content.Shared/MachineLinking/Events/NewLinkEvent.cs
  Content.Shared/MedicalScanner/SharedMedicalScannerComponent.cs
  Resources/Locale/en-US/cloning/components/cloning-pod-component.ftl
  Resources/Locale/en-US/generic.ftl
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/medical/components/cloning-console-component.ftl
  Resources/Locale/en-US/medical/components/medical-scanner-component.ftl
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/MachineLinking/receiver_ports.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: Changes: UI

#330 Merge 08/03
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/Lathe/UI/LatheMenu.cs
  Content.Client/Lathe/UI/LatheQueueMenu.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Server/AI/Operators/Combat/Melee/UnarmedCombatOperator.cs
  Content.Server/AI/Operators/Movement/MoveToEntityOperator.cs
  Content.Server/AI/Operators/Movement/MoveToGridOperator.cs
  Content.Server/AI/Steering/AiSteeringSystem.cs
  Content.Server/AI/Steering/EntityTargetSteeringRequest.cs
  Content.Server/AI/Steering/GridTargetSteeringRequest.cs
  Content.Server/AI/Steering/NPCSteeringComponent.cs
  Content.Server/AI/Steering/NPCSteeringSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Headset/HeadsetComponent.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/DiseaseArtifactSystem.cs
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/licenses.txt
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/lathe/ui/lathe-queue-menu.ftl
  Resources/Locale/en-US/lathe/ui/lathequeue-menu.ftl
  Resources/Locale/en-US/light/components/expendable-light-component.ftl
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Misc/torch.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/licenses.txt
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/cave.png
  Resources/Textures/Tiles/cavedrought.png
  Resources/keybinds.yml
Labels: Changes: UI

#339 Saltern update
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: No C#, Changes: Map

#338 Atlas update
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map

#341 Biomass lathe fix
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#343 Atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#351 saltern reclaimer update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#354 Quick fix to Epi power
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#353 Small Atlas Update
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map

#355 Biomass0806
  Content.Client/CloningConsole/UI/CloningConsoleBoundUserInterface.cs
  Content.Client/CloningConsole/UI/CloningConsoleWindow.xaml
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Salvage/SalvageMobRestrictionsSystem.cs
  Resources/Locale/en-US/medical/components/cloning-console-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/machine.yml
Labels: Changes: UI

#359 Lighthouse Update!
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#361 Merge0807
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualizer.cs
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsComponent.cs
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.Server/AI/EntitySystems/NPCSystem.cs
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionTransferSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/players/play-time/play-time-commands.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_solutioncontainerexample.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_water-1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_water-2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_water-3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_water.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water-1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water-2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water-3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
  Resources/Textures/Objects/Tools/bucket.rsi/fill-1.png
  Resources/Textures/Objects/Tools/bucket.rsi/fill-2.png
  Resources/Textures/Objects/Tools/bucket.rsi/fill-3.png
  Resources/Textures/Objects/Tools/bucket.rsi/meta.json
Labels: Changes: Sprites

#362 fix 2 locale messages
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/en-US/job/department.ftl
Labels: No C#

#365 Saltern update
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: No C#, Changes: Map

#367 fix boxer and mantis
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensic_mantis.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
Labels: No C#

#366 Saltern update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#373 Atlas update
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map

#376 Hyenh sprites 08/14
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/biomass_reclaimer.yml
  Resources/Textures/Mobs/Animals/kangaroo.rsi/kangaroo-judge.png
  Resources/Textures/Mobs/Animals/kangaroo.rsi/meta.json
  Resources/Textures/Structures/Machines/Medical/biomass_reclaimer.rsi/icon.png
  Resources/Textures/Structures/Machines/Medical/biomass_reclaimer.rsi/meta.json
Labels: No C#, Changes: Sprites

#380 Reporter Drobe
  Resources/Maps/atlas.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/repdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
Labels: No C#, Changes: Map

#381 Atlas update
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map

#385 kanabou fix
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
Labels: No C#

#389 QuantumSpinInverter Cost reduction
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
Labels: No C#

#388 add Cirno Day
  Resources/Locale/en-US/holiday/greet/holiday-greet.ftl
  Resources/Prototypes/Nyanotrasen/holidays.yml
Labels: No C#

#390 cataloguer is now an optional wildcard role
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/cataloguer.yml
Labels: No C#, Changes: Map

#395 Minor overhaul
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/epistemologist.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Objects/Devices/pda.rsi/pda-detective.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-rd.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-science.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/cargo.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/cargo.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/cargo.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/cargo.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/cargo.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/cargo.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/cargo.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/cargo.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/cargo.rsi/opening.png
Labels: No C#, Changes: Sprites

#400 Atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#402 give mystagogue a book and an ifrit
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Forensics/forensics.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/holylight.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/holylight.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/holylight.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/holylight.rsi/meta.json
Labels: No C#, Changes: Sprites

#403 ifrit fixes
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
Labels: No C#

#404 woops
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
Labels: No C#

#417 Replacing the upstream Emergency Shuttle with the Outreach Emergency Cruiser.
  Resources/Maps/Shuttles/emergency_shuttle.yml
Labels: No C#

#336 Better dummy names (no more confusing spawn menu)
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/cynocephalus.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
Labels: No C#

#419 add unknown entity admin spawn mob for events or other use
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/unknown_entity.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/unknown_entity.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/unknown_entity.rsi/entity_core.png
  Resources/Textures/Nyanotrasen/Mobs/Species/unknown_entity.rsi/entity_core_radiating.png
  Resources/Textures/Nyanotrasen/Mobs/Species/unknown_entity.rsi/meta.json
Labels: No C#, Changes: Sprites

#423 Update0827
  Content.Client/Chat/UI/ChatBox.xaml.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/nyano_jobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Species/lamia.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensic_mantis.yml
Labels: Changes: UI
