Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-12, with the labels that each got.

#741 Update1201
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/golem_inventory_tempalte.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/golem_wood.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/machines.yml
  Resources/Textures/Mobs/Effects/onfire.rsi/arachne_standing.png
  Resources/Textures/Mobs/Effects/onfire.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/wood.rsi/head.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/wood.rsi/lights.png
  Resources/Textures/Nyanotrasen/Mobs/Species/Golem/wood.rsi/meta.json
Labels: No C#, Changes: Sprites

#743 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#746 ui links stuff
  Content.Client/CartridgeLoader/CartridgeLoaderBoundUserInterface.cs
  Content.Client/CartridgeLoader/CartridgeUiComponent.cs
  Content.Client/CartridgeLoader/Cartridges/NetProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/NotekeeperUi.cs
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Client/Info/DevInfoBanner.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Info/ServerInfo.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Links/UILinks.cs
  Content.Client/Nyanotrasen/Books/BooksSystem.cs
  Content.Client/UserInterface/Fragments/UIFragment.cs
  Content.Client/UserInterface/Fragments/UiFragmentComponent.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Server/Body/Commands/AddHandCommand.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/ServerInfo/ServerInfoManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/info/server-info.ftl
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-medical.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/en-US/server-info/info-links.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/modular_grenade.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/modular_mine.yml
Labels: Changes: UI

#748 Adds ovni.yml
  Resources/Maps/ovni.yml
  Resources/Prototypes/Maps/ovni.yml
Labels: No C#, Changes: Map

#749 Remove Salvage Specialist.
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Specific/Mining/ore_bag.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: No C#

#750 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#751 increase paper size
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Server/Paper/PaperComponent.cs
Labels: Changes: UI

#754 Update ovni.yml
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#757 fix mops
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: No C#

#760 Update 12/06
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/salvage_technician.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: No C#

#753 Adds new medium salvage map
  Resources/Maps/Salvage/animalfarm.yml
  Resources/Prototypes/Maps/salvage.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/animals.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/seeds.yml
Labels: No C#, Changes: Map

#767 Merge1207
  Content.Client/Radiation/Systems/GeigerSystem.cs
  Content.Client/Radiation/UI/GeigerItemControl.cs
  Content.IntegrationTests/PoolManagerTestEventHandler.cs
  Content.Server/Afk/AFKSystem.cs
  Content.Server/Radiation/Events/RadiationSystemUpdatedEvent.cs
  Content.Server/Radiation/Systems/GeigerSystem.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Content.Server/Radiation/Systems/RadiationSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Metapsionics/MetapsionicPowerComponent.cs
  Content.Shared/Radiation/Components/GeigerComponent.cs
  Content.Shared/Radiation/Systems/SharedGeigerSystem.cs
  Resources/Audio/Items/Geiger/attributions.yml
  Resources/Audio/Items/Geiger/ext.ogg
  Resources/Audio/Items/Geiger/high.ogg
  Resources/Audio/Items/Geiger/low.ogg
  Resources/Audio/Items/Geiger/med.ogg
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/afk/afk.ftl
  Resources/Locale/en-US/radiation/geiger-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Fills/Crates/emergency.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Objects/Devices/geiger.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_base.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_ext.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_high.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_idle.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_low.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_med.png
  Resources/Textures/Objects/Tools/geiger.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/geiger.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/geiger.rsi/meta.json
Labels: Changes: Sprites

#773 cocoons
  Content.Server/Nyanotrasen/Arachne/ArachneSystem.cs
  Content.Server/Nyanotrasen/Arachne/CocoonComponent.cs
  Content.Server/Nyanotrasen/Vampiric/BloodSuckerComponent.cs
  Content.Server/Nyanotrasen/Vampiric/BloodSuckerSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Eye/Blinding/BlindableComponent.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Content.Shared/Nyanotrasen/Arachne/ArachneComponent.cs
  Resources/Locale/en-US/abilities/arachne.ftl
  Resources/Locale/en-US/abilities/lamia.ftl
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Webbing/webs.yml
  Resources/Textures/Nyanotrasen/Icons/verbiconfangs.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/bottom.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/placeholder.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/tip.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/torso_f.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/torso_m.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/underscales.png
  Resources/Textures/Nyanotrasen/Structures/cocoon.rsi/cocoon1.png
  Resources/Textures/Nyanotrasen/Structures/cocoon.rsi/cocoon2.png
  Resources/Textures/Nyanotrasen/Structures/cocoon.rsi/cocoon3.png
  Resources/Textures/Nyanotrasen/Structures/cocoon.rsi/cocoon_large1.png
  Resources/Textures/Nyanotrasen/Structures/cocoon.rsi/cocoon_large2.png
  Resources/Textures/Nyanotrasen/Structures/cocoon.rsi/cocoon_large3.png
  Resources/Textures/Nyanotrasen/Structures/cocoon.rsi/meta.json
Labels: Changes: Sprites

#775 Cherry picking experiment #1
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Construction/AnchorableSystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Changes: UI

#777 prisoner / gladiator starting gear tweaks
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Labels: No C#

#778 Fixes1209
  Content.Client/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/MetapsionicPowerSystem.cs
  Content.Server/Nyanotrasen/Arachne/ArachneSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Metapsionics/MetapsionicPowerComponent.cs
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Webbing/webs.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
Labels: Changes: UI

#781 Flaregun Nerf
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#785 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#784 Lighthouse Laser Tag Update
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#787 Lightthouse Fix
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#788 resave all new salv maps as grids
  Resources/Maps/Salvage/large-engineer-chunk.yml
  Resources/Maps/Salvage/researchpost.yml
Labels: No C#

#791 new round end sound
  Resources/Audio/Announcements/RoundEnd/dotsy.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: No C#

#796 Practice disabler tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#797 Add new Oracle sprites.
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-0.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-1.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-10.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-2.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-3.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-4.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-5.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-6.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-7.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-8.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-9.png
Labels: No C#, Changes: Sprites

#786 Add posters by Huvy.
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/BAR.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/BotanyFood.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/BreadLies.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/DONK.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/EATMEAT.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/MoreBread.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/PIE.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/PIZZA.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Vordenburg.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Vordenburg.rsi/poster_dejavu.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Vordenburg.rsi/poster_dontpanic.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Vordenburg.rsi/poster_saucer1.png
Labels: No C#, Changes: Sprites

#798 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#803 Lighthouse shuttle
  Resources/Maps/Shuttles/BC20_emergencyShuttleG.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#805 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#804 Chef condiments
  Resources/Locale/en-US/advertisements/vending/chefvend.ftl
  Resources/Locale/en-US/advertisements/vending/condiments.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/chefvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/condiments.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/panel.png
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/condiment.png
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/off.png
Labels: No C#, Changes: Sprites

#809 Cached whitelist status
  Content.Client/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Players/PlayerData.cs
  Content.Server/Whitelist/WhitelistCommands.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI

#810 Whitelisted field for jobs
  Content.Client/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/Maps/angle.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensic_mantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/medical_cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Map

#811 ghost role whitelist is per role
  Content.Client/Nyanotrasen/Ghost/Roles/UI/GhostRoleWhitelistEUI.cs
  Content.Client/Nyanotrasen/Ghost/Roles/UI/GhostRoleWhitelistWindow.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesWindow.xaml.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Nyanotrasen/Ghost/Roles/UI/GhostRoleWhitelistEui.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Server/Whitelist/WhitelistCommands.cs
  Content.Shared/Ghost/Roles/GhostRolesEuiMessages.cs
  Content.Shared/Nyanotrasen/Ghost/UI/GhostroleWhitelistEuiMessage.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-whitelist.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: Changes: UI

#817 Pebble Joining the Faxing era
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#816 God please i'm making a mess of things just let me update my map
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#814 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#818 Bugfixes121322
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: No C#

#819 Modernized tech tree
  Resources/Locale/en-US/prototypes/catalog/research/technologies.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Research/technologies.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/materials.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
Labels: No C#

#824 fix minor ghost role UI bug
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesWindow.xaml.cs
Labels: Changes: UI

#825 Small laws menu tweak
  Content.Client/Borgs/LawsMenu.xaml.cs
Labels: Changes: UI

#833 oneirophage uses arachne damage set
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
Labels: No C#

#829 ChefVend, Condiment Station restocks
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Entities/Markers/Spawners/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_chef.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_condiment.png
Labels: No C#, Changes: Sprites

#839 Cherrypick1214
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Construction/Conditions/ComponentInTile.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/NPC/Components/NPCRVOComponent.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Server/NPC/NPCBlackboardSerializer.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Avoidance.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Construction/Conditions/EmptyOrWindowValidInTile.cs
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
  Content.Shared/Maps/TurfHelpers.cs
  Content.Shared/Radio/RadioVisuals.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Textures/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: Changes: Sprites

#840 Update death-gasp.ftl
  Resources/Locale/en-US/psionics/death-gasp.ftl
Labels: No C#

#843 Make separated UI the default
  Content.Client/Gameplay/GameplayState.cs
  Content.Client/UserInterface/Screens/ScreenType.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI

#848 Update Angle
  Resources/Maps/angle.yml
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map

#855 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#856 Pebble Kitchen update
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#859 Add custom evac shuttle to Angle
  Resources/Maps/Shuttles/NTES_Kaeri.yml
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map

#864 don't use reserved keyword in crispy shader
  Resources/Textures/Shaders/crispy.swsl
Labels: No C#

#861 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#860 Pebble Deep Fryer DLC
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#865 Update lighthouse.yml
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#867 ChefVend texture update
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/off.png
Labels: No C#, Changes: Sprites

#872 Give the Ifrit blindness resistance.
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
Labels: No C#

#871 Add T-shirt and Jeans
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeans.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeans.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeans.rsi/meta.json
Labels: No C#, Changes: Sprites

#874 Sprites only
  Resources/Textures/Structures/Wallmounts/switch.rsi/dead.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/off.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/on.png
Labels: No C#, Changes: Sprites

#873 Add new sprites by Huvy.
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Shared/Forensics/ForensicPadVisuals.cs
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Entities/Objects/Specific/Forensics/forensics.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Chapel/amphorae.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/signs.yml
  Resources/Textures/Nyanotrasen/Objects/Misc/forensic_pad.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Misc/forensic_pad.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Misc/forensic_pad.rsi/used.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/amphorae.rsi/amphora3.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/amphorae.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Storage/forensic_box.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Storage/forensic_box.rsi/overlay.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/conspiracy_board.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/conspiracy_board.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/last_idiot.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/last_idiot.rsi/meta.json
Labels: Changes: Sprites

#875 Map Edits
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#877 Update angle.yml and NTES_Kaeri.yml
  Resources/Maps/Shuttles/NTES_Kaeri.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#881 Save BC20_emergencyShuttleG as grid.
  Resources/Maps/Shuttles/BC20_emergencyShuttleG.yml
Labels: No C#

#882 Updated four shuttles
  Resources/Maps/Shuttles/ntcv-nomad.yml
  Resources/Maps/Shuttles/ntsv-tote.yml
  Resources/Maps/Shuttles/ntv-pickett.yml
  Resources/Maps/Shuttles/ntv-strike.yml
Labels: No C#

#883 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#879 Add T-shirts again!
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeansgray.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeansgray.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeansgray.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeanspeach.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeanspeach.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/tshirtjeanspeach.rsi/meta.json
Labels: No C#, Changes: Sprites

#892 Update lighthouse.yml
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#891 Update ovni.yml
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#893 Adds schoolgirl invasion(uniform spawner)
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/schoolgirl.yml
Labels: No C#

#899 Pebble Christmas Patchie.
  Resources/Maps/pebbel.yml
Labels: No C#, Changes: Map

#898 Soften the Oracle's edges.
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-0.png
Labels: No C#, Changes: Sprites

#897 Fix some Nyano RSI validations and Nyano edits to upstream RSIs.
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/wielded-inhand-left-Recovered.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-left-Recovered.png
Labels: No C#, Changes: Sprites

#900 Order decals in the placer window for mappers.
  Content.Client/Decals/UI/DecalPlacerWindow.xaml.cs
Labels: Changes: UI

#880 Adds ganja brownies
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/snacks.rsi/brownie-batch.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/snacks.rsi/meta.json
Labels: No C#, Changes: Sprites

#895 Buff Shields
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: No C#

#904 Add new medium salvage
  Resources/Maps/Salvage/medium_chunk01.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#905 Fix 'pebbel.yml' -> 'pebble.yml'
  Resources/Maps/pebbel.yml
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#907 Specify precision for all Crispy local variables.
  Resources/Textures/Shaders/crispy.swsl
Labels: No C#

#906 Christmas trees
  Resources/Maps/angle.yml
  Resources/Maps/lighthouse.yml
  Resources/Maps/nukieplanet.yml
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#908 Add Fish and Chips, remove carpotoxin from meals
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#909 Add new medium salvage
  Resources/Maps/Salvage/mining_outpost01.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#894 Melee Weapons Rebalance 2.0
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
Labels: No C#

#910 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#911 Hotfix NTES_Kaeri.yml
  Resources/Maps/Shuttles/NTES_Kaeri.yml
Labels: No C#

#916 Temporarily disable ghost role for drones.
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#

#918 Standardize Command headsets
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Labels: No C#
