Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-10, with the labels that each got.

#523 Removed Saucer Map Image
  Resources/MapImages/saucer/saucer-0.png
Labels: No C#

#526 Event maximum increase.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: No C#

#524 New Station - Angle
  Resources/Maps/angle.yml
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map

#540 Updated Angle
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#541 move drones for torun
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
Labels: No C#

#545 Update1002
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PsionicRegenerationPowerSystem.cs
  Content.Server/Nyanotrasen/Objectives/Conditions/BecomePsionicCondition.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/Events/MundaneDischarge.cs
  Content.Server/Nyanotrasen/Psionics/PotentialPsionicComponent.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/objectives/conditions/become-psionic-condition.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/lamia.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
  Resources/Textures/Nyanotrasen/Icons/psi.rsi/meta.json
  Resources/Textures/Nyanotrasen/Icons/psi.rsi/psi.png
Labels: Changes: Sprites

#543 Updated Angle
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#546 Add insulative skullcap RSI.
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/insulative_skullcap.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/insulative_skullcap.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/insulative_skullcap.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/insulative_skullcap.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/insulative_skullcap.rsi/meta.json
Labels: No C#, Changes: Sprites

#547 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#549 Updated Angle
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#550 Update1003
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PyrokinesisPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Nyanotrasen/Lamiae/LamiaSystem.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/Structures/GlimmerSourceComponent.cs
  Content.Server/Nyanotrasen/Psionics/PsionicAwaitingPlayerComponent.cs
  Content.Server/Nyanotrasen/Psionics/PsionicBonusChanceComponent.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Pyrokinesis/PyrokinesisPowerComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/GuaranteedPsionicComponent.cs
  Resources/Locale/en-US/abilities/psionic.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/forensicsdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensic_mantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Changes: Map

#556 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#560 add new hyenh sprite
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/arc.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/arc.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/arc.rsi/meta.json
Labels: No C#, Changes: Sprites

#562 lamia outer clothing time
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/lamia_inventory_template.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#564 fix character preview
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/lamia.yml
Labels: Changes: UI

#566 fix up last merge and merge my new objective
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.IntegrationTests/Tests/Construction/ConstructionPrototypeTest.cs
  Content.Server/Objectives/Conditions/RandomTraitorAliveCondition.cs
  Content.Server/Objectives/Conditions/RandomTraitorProgressCondition.cs
  Content.Shared/Construction/Steps/ConstructionGraphStepTypeSerializer.cs
  Content.Shared/Construction/Steps/PrototypeConstructionGraphStep.cs
  Content.Shared/Construction/Steps/TagConstructionGraphStep.cs
  Resources/Locale/en-US/objectives/conditions/other-traitor-progress-condition.ftl
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/atmos_alarms.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/disposal.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Power/solar_parts.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/glimmerprober.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/ritualseat.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/shutter.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/shuttle.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/air_alarms.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_machines.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/solarpanel.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_generator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_telemonitors.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/modular_mine.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/spear.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/cleanbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/honkbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/medibot.yml
  Resources/Prototypes/tags.yml
Labels: Changes: UI

#565 Add more Oni Horns to Markings List
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/double_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/double_left_broke_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/double_right_broke_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/single_left_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/single_right_curved.png
Labels: No C#, Changes: Sprites

#567 Fixing a minor sprite error with the single offset horns
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/single_left_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/single_right_curved.png
Labels: No C#, Changes: Sprites

#568 Non-Human Species Able to Have Tattoos
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/lamia.yml
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
Labels: No C#

#570 standardize nyano melee ranges too
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/lamia.yml
Labels: No C#

#579 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#581 Expand Felinid Markings.
  Resources/Locale/en-US/markings/felinid.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/basic_inner.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/basic_outer.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/curled_inner.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/curled_outer.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/droopy_inner.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/droopy_outer.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/fuzzy_inner.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/stubby_inner.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/stubby_outer.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/tall_fuzz.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/tall_inner.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/tall_outer.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/torn_inner.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/torn_outer.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/wide_inner.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_ears.rsi/wide_outer.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_bell.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_bow.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_stripes_even.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_stripes_odd.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_tip.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/meta.json
Labels: No C#, Changes: Sprites

#582 Updated angle.yml map and prototype
  Resources/Maps/angle.yml
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map

#583 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#585 Add sprites for the glimmer machines.
  Content.Server/Nyanotrasen/Psionics/Glimmer/GlimmerReactiveSystem.cs
  Content.Shared/Nyanotrasen/Psionics/Glimmer/SharedGlimmerReactiveComponent.cs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/base.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/drain.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/intermediate.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/powered.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_1.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_2.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_3.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_4.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_5.png
Labels: Changes: Sprites

#592 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#595 Soulify logo
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
Labels: No C#

#596 Add verb icons for all standard psionic powers.
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/dispel.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/dispel.png.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/license.txt
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/mass_sleep.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/mass_sleep.png.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/metapsionic.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/metapsionic.png.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/mind_swap.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/mind_swap.png.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/mind_swap_return.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/mind_swap_return.png.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/psionic_invisibility.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/psionic_invisibility.png.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/psionic_invisibility_off.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/psionic_invisibility_off.png.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/psionic_regeneration.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/psionic_regeneration.png.yml
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/telegnosis.png
  Resources/Textures/Nyanotrasen/Interface/VerbIcons/telegnosis.png.yml
Labels: No C#

#603 Add new icon for NyanoTrasen.
  Resources/Textures/Logo/icon-license.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon.svg
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
Labels: No C#

#602 Arachne
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Humanoid/HumanoidVisualizerSystem.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Server/Nyanotrasen/Arachne/ArachneSystem.cs
  Content.Server/Nyanotrasen/Psionics/HeadCageSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Movement/Systems/SlowContactsSystem.cs
  Content.Shared/Nyanotrasen/Arachne/ArachneComponent.cs
  Content.Shared/Nyanotrasen/Arachne/WebComponent.cs
  Resources/Locale/en-US/abilities/arachne.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Webbing/webs.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/anytaur_inventory_template.yml
  Resources/Prototypes/Nyanotrasen/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/female_full.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/female_none.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/female_top.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/none.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/lamia_masking_helpers.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/spidereyes.rsi/eyes.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/spidereyes.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/arachne.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/arachne.rsi/spider_body.png
  Resources/Textures/Nyanotrasen/Mobs/Species/arachne.rsi/spider_body_front.png
  Resources/Textures/Nyanotrasen/Mobs/Species/cynocephalus.rsi/head_f.png
  Resources/Textures/Nyanotrasen/Mobs/Species/cynocephalus.rsi/head_m.png
  Resources/Textures/Nyanotrasen/Mobs/Species/cynocephalus.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/eyes.rsi/eyes.png
  Resources/Textures/Nyanotrasen/Mobs/Species/eyes.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/web.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/web.rsi/web1.png
  Resources/Textures/Nyanotrasen/Structures/web.rsi/web2.png
Labels: Changes: Sprites

#605 Adds three shuttles
  Resources/Maps/Shuttles/ntcv-nomad.yml
  Resources/Maps/Shuttles/ntsv-tote.yml
  Resources/Maps/Shuttles/ntv-strike.yml
Labels: No C#

#604 Pebble station
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: No C#, Changes: Map

#608 Remove atlas
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map

#610 Epi colors for logo
  Resources/Textures/Logo/logo.png
Labels: No C#

#612 Add sprites and sounds for the Ifrit's hand.
  Resources/Audio/Nyanotrasen/blowout1.ogg
  Resources/Audio/Nyanotrasen/fireball1.ogg
  Resources/Audio/Nyanotrasen/flamethrower1.ogg
  Resources/Audio/Nyanotrasen/flamethrower2.ogg
  Resources/Audio/Nyanotrasen/flamethrower3.ogg
  Resources/Audio/Nyanotrasen/license.txt
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Nyanotrasen/SoundCollections/ifrit_hand.yml
  Resources/Textures/Nyanotrasen/Objects/Tools/ifrit_hand.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Tools/ifrit_hand.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Tools/ifrit_hand.rsi/off-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tools/ifrit_hand.rsi/off-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tools/ifrit_hand.rsi/on-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tools/ifrit_hand.rsi/on-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tools/ifrit_hand.rsi/welder_flame.png
Labels: No C#, Changes: Sprites

#614 Pebble Map Updates (for real this time)
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map
