Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-06, with the labels that each got.

#177 Atlas 2.0
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#178 atlas update 06/01
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#179 fix steel sheet lathe bug
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
Labels: No C#

#182 atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#185 borg floor tiles
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#187 Atlas update 06/03
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#188 Add cynocephali
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Nyanotrasen/Overlays/Overlays/DogVisionOverlay.cs
  Content.Shared/Nyanotrasen/Abilities/DogVisionComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/cyno_cephali.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/cynocephalus.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/cynocephalus.yml
  Resources/Prototypes/Shaders/dogvision.yml
  Resources/Prototypes/species.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/cynocephalus.rsi/head_f.png
  Resources/Textures/Nyanotrasen/Mobs/Species/cynocephalus.rsi/head_m.png
  Resources/Textures/Nyanotrasen/Mobs/Species/cynocephalus.rsi/meta.json
  Resources/Textures/Shaders/dogvision.swsl
Labels: Changes: Sprites

#191 2 new steal objectives
  Resources/Prototypes/Objectives/traitorObjectives..yml
Labels: No C#

#192 Possibly fix compat mode for shader
  Resources/Textures/Shaders/dogvision.swsl
Labels: No C#

#193 rename credits to zorkmids
  Resources/Locale/en-US/Mail/mail.ftl
  Resources/Locale/en-US/cargo/components/price-gun-component.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-pirates.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Materials/materials.yml
Labels: No C#

#195 Added Syndicate Diplomat Job with Card and PDA
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Fun/syndicatediplomat.yml
Labels: No C#

#197 atlas cleanup
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map

#199 cyno name set
  Resources/Prototypes/Datasets/Names/cyno_female.yml
  Resources/Prototypes/Datasets/Names/cyno_last.yml
  Resources/Prototypes/Datasets/Names/cyno_male.yml
  Resources/Prototypes/species.yml
Labels: No C#

#200 Lighthouse + jobs cleanup
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#, Changes: Map

#202 lighthouse min player reduction
  Resources/Prototypes/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#203 disable automaturge for now
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Science/automaturge.yml
Labels: No C#, Changes: Map

#204 yet another job shuffle
  Resources/Maps/atlas.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Science/detective.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/ShaftMiner.png
Labels: No C#, Changes: Sprites, Changes: Map

#205 Atlas access fix
  Resources/Maps/atlas.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Labels: No C#, Changes: Map

#206 Shuffle around departments to make job list more clear
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/boxer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Boxer.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Mime.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Musician.png
Labels: No C#, Changes: Sprites

#207 Atlas Changes
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#208 Fixed ID Console and small Atlas changes
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Shared/Access/Components/SharedIdCardConsoleComponent.cs
  Resources/Maps/atlas.yml
Labels: Changes: Map, Changes: UI

#210 Lighthouse update
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#213 Reenable drones, give silicons built-in cameras
  Content.Server/Drone/DroneSystem.cs
  Content.Server/SurveillanceCamera/Components/SurveillanceCameraComponent.cs
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Maps/atlas.yml
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Nyanotrasen/Device/devicenet_frequencies.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/surveillance_camera_routers.yml
Labels: Changes: Map

#214 cyno gas analyzer ability
  Resources/Locale/en-US/abilities/cyno.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/cynocephalus.yml
Labels: No C#

#216 Vendor/Locker pass
  Resources/Maps/atlas.yml
  Resources/Maps/lighthouse.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/ourjobs.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/automatrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/epidrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/forensicsdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensic_mantis.yml
Labels: No C#, Changes: Map

#217 sign resprite and some renaming
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_sci.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/science1.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/science2.png
Labels: No C#, Changes: Sprites

#226 Nerf borg repairable stat
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
Labels: No C#

#230 Possibly fix traitor selection
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#236 Felinids are immune to owonavirus
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: No C#

#237 fix nyano energy projectiles collision
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#238 update atlas and lighthouse
  Resources/Maps/atlas.yml
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#242 Fix headset stuff for nyano
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/radio_channels.yml
Labels: No C#

#245 Changes to the Syndicate Diplomat role
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/nyano_jobs.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Fun/syndicatediplomat.yml
Labels: No C#

#247 Drones out, honkbots in
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#248 Add supersynth pAI variant
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/pai.yml
Labels: No C#

#249 Fix: Shameful typo in the supersynth pAI desc
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/pai.yml
Labels: No C#
