Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-09, with the labels that each got.

#427 Glacier Outpost
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: No C#, Changes: Map

#428 Glacier hotfix
  Resources/Maps/glacier.yml
Labels: No C#, Changes: Map

#431 Tons of Glacier Fixes and changes
  Resources/Maps/glacier.yml
Labels: No C#, Changes: Map

#440 give mediborgs lollipops and gumballs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PsionicInvisibilityPowerSystem.cs
  Content.Server/Nyanotrasen/Borgs/Abilities/FabricateCandyComponent.cs
  Content.Server/Nyanotrasen/Borgs/Abilities/FabricateCandySystem.cs
  Resources/Locale/en-US/borg/item-actions.ftl
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
  Resources/Textures/Objects/Consumable/Food/candy.rsi/gumball.png
  Resources/Textures/Objects/Consumable/Food/candy.rsi/lollipop.png
  Resources/Textures/Objects/Consumable/Food/candy.rsi/meta.json
Labels: Changes: Sprites

#441 Multiple small gameplay fixes on Glacier
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: No C#, Changes: Map

#446 Atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#432 Service Workers Addition
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/bellhop.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/bellhop.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/bellhop.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Vests/valet.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Vests/valet.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Vests/valet.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Vests/valet.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Vests/valet.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#453 Saltern update
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: No C#, Changes: Map

#452 Fixed awful blue Lawyer suit
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#456 Made a bigger bread, craftable from 4 dough but 5x as bready
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#457 Atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#462 ass day rules file
  Resources/Server Info/AssDayRules.txt
Labels: No C#

#465 Saucer update
  Resources/Maps/saucer.yml
  Resources/Prototypes/Maps/saucer.yml
Labels: No C#, Changes: Map

#463 New map Saucer!
  Resources/MapImages/saucer/saucer-0.png
  Resources/Maps/saucer.yml
  Resources/Prototypes/Maps/saucer.yml
Labels: No C#, Changes: Map

#468 Temporarily Change Domains
  .github/workflows/publish.yml
  Tools/gen_build_info.py
Labels: No C#

#464 Changed the big bread recipe to take 20 seconds instead 15. It was co…
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#475 September2022 saucer station
  Resources/Maps/saucer.yml
Labels: No C#, Changes: Map

#470 Missing Security Sign
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/signs.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/sec.png
Labels: No C#, Changes: Sprites

#477 fix lathe refactor changes
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
Labels: No C#

#471 Remove unknown entity admin bus mob because broken
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/unknown_entity.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/unknown_entity.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/unknown_entity.rsi/entity_core.png
  Resources/Textures/Nyanotrasen/Mobs/Species/unknown_entity.rsi/entity_core_radiating.png
  Resources/Textures/Nyanotrasen/Mobs/Species/unknown_entity.rsi/meta.json
Labels: No C#, Changes: Sprites

#478 Domain stuff
  .github/workflows/publish.yml
  Tools/gen_build_info.py
Labels: No C#

#483 Glacier Update
  Resources/Maps/glacier.yml
Labels: No C#, Status: Needs Review, Changes: Map

#487 Telepathic channel
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Chat/Managers/IChatManager.cs
  Content.Client/Chat/UI/ChatBox.xaml.cs
  Content.Client/Nyanotrasen/Chat/PsionicChatUpdateSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Nyanotrasen/Chat/NyanoChatSystem.cs
  Content.Server/Nyanotrasen/Chat/TSayCommand.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
  Content.Server/Nyanotrasen/Xenoarchaeology/Xenoartifacts/Effects/Systems/PsionicArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TelepathicArtifactSystem.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/PsionicComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/PsionicsDisabledComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/SharedPsionicAbilitiesSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/chat/ui/chat-box.ftl
Labels: Changes: UI

#489 Small Glacier Fixes
  Resources/Maps/glacier.yml
Labels: No C#, Changes: Map

#493 ifrit welder
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/familiars.yml
Labels: No C#

#496 Support restocking vending machines with a starter set of food & drink packages.
  Content.IntegrationTests/Tests/VendingMachineRestockPackageTest.cs
  Content.Server/Destructible/Thresholds/Behaviors/DumpRestockInventory.cs
  Content.Server/VendingMachineRestockPackage/VendingMachineRestockPackageComponent.cs
  Content.Server/VendingMachineRestockPackage/VendingMachineRestockPackageSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineComponent.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Resources/Audio/Machines/vending_restock_done.ogg
  Resources/Audio/Machines/vending_restock_start.ogg
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/en-US/vending-machines/vending-machine-restock-package-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Entities/Markers/Spawners/vending_machine_restock_packages.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock_packages.yml
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/chinese.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/chocolate.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/coffee.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/cola.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/discount.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/donuts.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/icon.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Janitorial/vending_restock_package.rsi/meta.json
Labels: Changes: Sprites

#506 Add Deja Vu poster for Old Dance Jacket and Don't Panic poster for Velcroboy.
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/posters.rsi/poster_dejavu.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/posters.rsi/poster_dontpanic.png
Labels: No C#, Changes: Sprites

#507 Test
  README.md
  Resources/Server Info/Sandbox.txt
Labels: No C#

#510 update 09/27
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/MassSleep/MassSleepPowerComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Pacification/PacificationPowerComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Pacification/PacificationPowerSystem.cs
  Content.Shared/StationRecords/GeneralStationRecord.cs
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/glimmerprober.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/machines.yml
Labels: Changes: UI

#479 Set pill chem cap down to 25u again
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: No C#

#512 Update0928
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
Labels: No C#

#513 Headcage
  Content.Server/Nyanotrasen/Alert/Click/RemoveCage.cs
  Content.Server/Nyanotrasen/Psionics/HeadCageSystem.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Items/ClothingGrantPsionicPowerComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Items/HeadCageComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Items/PsionicItemsSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Items/TinfoilHatComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/SharedPsionicAbilitiesSystem.cs
  Resources/Locale/en-US/abilities/psionic.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Nyanotrasen/Alerts/alerts.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/forensicsdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/alert.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/meta.json
Labels: Changes: Sprites

#519 Update0930
  Content.Server/Nyanotrasen/Mail/Components/MailComponent.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Locale/en-US/Mail/mail.ftl
  Resources/Maps/lighthouse.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/dulled.yml
Labels: Changes: Map
