Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-04, with the labels that each got.

#2 Remove all the standard races except human from being selectable
  Resources/Prototypes/species.yml
Labels: No C#

#1 Remove maintenance from jobs that don't need it
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
Labels: No C#, Needs Discussion, Status: Needs Review

#3 Boxer
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Abilities/BoxingSystem.cs
  Content.Server/Abilities/Components/BoxerComponent.cs
  Content.Server/Abilities/Components/BoxingComponent.cs
  Content.Server/Abilities/Components/BoxingGlovesComponent.cs
  Resources/Audio/Weapons/boxingpunch1.ogg
  Resources/Audio/Weapons/boxingpunch2.ogg
  Resources/Audio/Weapons/boxingpunch3.ogg
  Resources/Audio/Weapons/license.txt
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/shorts.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/delta.yml
  Resources/Prototypes/Maps/game.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/ntbarratry.yml
  Resources/Prototypes/Maps/splitstation.yml
  Resources/Prototypes/Roles/Jobs/Civilian/boxer.yml
  Resources/Prototypes/SoundCollections/generic_hit.yml
  Resources/Textures/Clothing/Uniforms/Shorts/Color/red.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Shorts/Color/red.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Shorts/Color/red.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Shorts/Color/red_female.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Shorts/Color/red_female.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Shorts/Color/red_female.rsi/meta.json
  Resources/Textures/Interface/Misc/job_icons.rsi/Boxer.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-boxer.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idboxer.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Status: Needs Review, Changes: Sprites, Changes: Map

#9 Disable librarian
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
Labels: No C#

#11 New lobby song
  Resources/Audio/Lobby/licenses.txt
  Resources/Audio/Lobby/sneedsfeedandseed.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#15 Felinids
  Content.Client/CharacterAppearance/Systems/HumanoidAppearanceSystem.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Speech/Components/OwOAccentComponent.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayers.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayersExtension.cs
  Resources/Prototypes/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/species.yml
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_ears_cat_BEHIND.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_ears_cat_COMBINED.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_ears_cat_FRONT.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_earsinner_cat_FRONT.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_tail_cat_FRONT.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/m_waggingtail_cat_FRONT.png
  Resources/Textures/Mobs/Customization/felinid_parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Felinid/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Felinid/parts.rsi/meta.json
Labels: Status: Needs Review, Changes: Sprites

#16 Add Jabroni outfit
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Abilities/Boxer/BoxingSystem.cs
  Content.Server/Abilities/Components/Boxer/BoxerComponent.cs
  Content.Server/Abilities/Components/Boxer/BoxingComponent.cs
  Content.Server/Abilities/Components/Boxer/BoxingGlovesComponent.cs
  Content.Server/Abilities/Components/GachiComponent.cs
  Content.Server/Abilities/Components/JabroniOutfitComponent.cs
  Content.Server/Abilities/GachiSystem.cs
  Resources/Audio/Effects/Gachi/gangingup.ogg
  Resources/Audio/Effects/Gachi/huhyoulikeembarassingme.ogg
  Resources/Audio/Effects/Gachi/huhyoulikethat.ogg
  Resources/Audio/Effects/Gachi/knockedhimout.ogg
  Resources/Audio/Effects/Gachi/loud_FUCKYOU.ogg
  Resources/Audio/Effects/Gachi/ohmyshoulder.ogg
  Resources/Audio/Effects/Gachi/pain6.ogg
  Resources/Audio/Effects/Gachi/ripears.ogg
  Resources/Audio/Effects/Gachi/van_fuckyou.ogg
  Resources/Maps/atlas.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/SoundCollections/gachi.yml
  Resources/Textures/Clothing/Uniforms/Costume/jabroni.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Costume/jabroni.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Costume/jabroni.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

#18 Felinid mechanics
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Abilities/Boxer/Boxer/BoxerComponent.cs
  Content.Server/Abilities/Boxer/Boxer/BoxingComponent.cs
  Content.Server/Abilities/Boxer/Boxer/BoxingGlovesComponent.cs
  Content.Server/Abilities/Felinid/FelinidComponent.cs
  Content.Server/Abilities/Felinid/FelinidSystem.cs
  Content.Server/Abilities/Felinid/HairballComponent.cs
  Content.Server/Medical/VomitSystem.cs
  Resources/Audio/Effects/Species/hairball.ogg
  Resources/Audio/Effects/Species/license.txt
  Resources/Locale/en-US/abilities/felinid.ftl
  Resources/Prototypes/Body/Parts/felinid.yml
  Resources/Prototypes/Body/Presets/felinid.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Entities/Objects/Specific/Species/felinid.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Textures/Objects/Specific/Species/felinid.rsi/icon.png
  Resources/Textures/Objects/Specific/Species/felinid.rsi/meta.json
Labels: Changes: Sprites

#19 Add 1 gorillion weeaboo outfits
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/blue.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/blue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/green.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/green.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/green.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/orange.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/orange.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/orange.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/red.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/red.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Costume/Schoolgirl/red.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Costume/geisha.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Costume/geisha.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Costume/geisha.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Costume/maid.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Costume/maid.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Costume/maid.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janimaid.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janimaid.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janimaid.rsi/meta.json
Labels: No C#, Changes: Sprites

#20 Atlas update
  Resources/Maps/atlas.yml
  Resources/Server Info/Rules.txt
Labels: No C#, Status: Needs Review, Changes: Map

#21 Mail Carrier YAML content (no mechanics yet)
  Resources/Maps/atlas.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Textures/Clothing/Head/Hats/mailman.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/mailman.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/mailman.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mailman.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mailman.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mailman.rsi/meta.json
  Resources/Textures/Interface/Misc/job_icons.rsi/MailCarrier.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/mailcarrier.png
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-mailcarrier.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idmailcarrier.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map
