Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2022-07, with the labels that each got.

#255 minor mystagogue and honkbot changes
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
Labels: No C#

#257 Updated Central Command Map
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#259 Tweaks/fixes for 07/10
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Nyanotrasen/Diseases/infectious.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/automaturge.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/cataloguer.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/epistemologist.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensic_mantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: No C#, Changes: Map

#265 nurse drip
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/nurse.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/nurse.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/nurse.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/nurse.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/nurse.rsi/meta.json
Labels: No C#, Changes: Sprites

#268 Fixes0715
  Content.Client/Traitor/Uplink/UplinkBoundUserInterface.cs
  Content.Server/Traitor/Uplink/Account/UplinkAccountsSystem.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/waystation.yml
  Resources/Prototypes/Maps/waystation.yml
Labels: Changes: Map

#272 Felinid changes
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: No C#

#274 Lighthouse Update
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#275 New felinid screams
  Resources/Audio/Voice/Felinid/cat_scream1.ogg
  Resources/Audio/Voice/Felinid/cat_scream2.ogg
  Resources/Audio/Voice/Felinid/cat_scream3.ogg
  Resources/Audio/Voice/Felinid/license.txt
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/SoundCollections/felinid.yml
Labels: No C#

#280 Modifier sets update
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
Labels: No C#

#286 Another Lighthouse Update
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#290 Update shuttles (fix nuke ops?)
  Resources/Maps/cargo_shuttle.yml
  Resources/Maps/dart.yml
  Resources/Maps/infiltrator.yml
  Resources/Maps/nukieplanet.yml
  Resources/Maps/ssreach.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/salvage_technician.yml
Labels: No C#, Changes: Map

#291 Yet Another Saltern Update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#301 I love paper
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: No C#

#302 Sweater
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/hyenh.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/hyenh.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/hyenh.rsi/meta.json
Labels: No C#, Changes: Sprites

#305 fixes
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Resources/Locale/en-US/carrying/carry.ftl
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
Labels: Changes: Map

#310 Fix new eden jobs
  Resources/Prototypes/Maps/neweden.yml
Labels: No C#, Changes: Map

#270 Lamiae
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Nyanotrasen/Abilities/Gachi/Components/GachiComponent.cs
  Content.Server/Nyanotrasen/Collapsible/CollapsibleComponent.cs
  Content.Server/Nyanotrasen/Lamiae/BloodSuckedComponent.cs
  Content.Server/Nyanotrasen/Lamiae/BloodSuckerComponent.cs
  Content.Server/Nyanotrasen/Lamiae/BloodSuckerSystem.cs
  Content.Server/Nyanotrasen/Lamiae/LamiaComponent.cs
  Content.Server/Nyanotrasen/Lamiae/LamiaSexEnforcedComponent.cs
  Content.Server/Nyanotrasen/Lamiae/LamiaSystem.cs
  Content.Shared/CharacterAppearance/HumanoidCharacterAppearance.cs
  Content.Shared/CharacterAppearance/Systems/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Markings/MarkingsComponent.cs
  Content.Shared/Nyanotrasen/Lamiae/LamiaSegmentComponent.cs
  Content.Shared/Nyanotrasen/Lamiae/SharedLamiaeSystem.cs
  Resources/Locale/en-US/abilities/lamia.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Mechanisms/vampiric.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/lamia.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/vampiric.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Presets/lamia.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Presets/vampiric.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Templates/lamia.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/lamia.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/lamia.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Species/lamia.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/lamia_inventory_template.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/species.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/bottom.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/placeholder.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/tip.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/underscales.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/verbiconfangs.png
Labels: Changes: Sprites

#315 lamia fixes
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/lamia.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/bottom.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/placeholder.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/tip.png
Labels: No C#, Changes: Sprites

#316 Map Update
  Resources/Maps/neweden.yml
Labels: No C#, Changes: Map

#318 Lamia visual changes
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/lamia.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/lamia_masking_helpers.rsi/female_full.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/lamia_masking_helpers.rsi/female_none.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/lamia_masking_helpers.rsi/female_top.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/lamia_masking_helpers.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/lamia_masking_helpers.rsi/none.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/bottom.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/placeholder.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/tip.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/torso_f.png
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/torso_m.png
Labels: No C#, Changes: Sprites

#322 Give lamiae noslip
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/lamia.yml
Labels: No C#
