Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2023-02, with the labels that each got.

#1153 neil 2
  Resources/Audio/Announcements/Alerts/code_blue.ogg
  Resources/Audio/Announcements/Alerts/code_delta.ogg
  Resources/Audio/Announcements/Alerts/code_epsilon.ogg
  Resources/Audio/Announcements/Alerts/code_gamma.ogg
  Resources/Audio/Announcements/Alerts/code_green.ogg
  Resources/Audio/Announcements/Alerts/code_red.ogg
  Resources/Audio/Announcements/Alerts/code_violet.ogg
  Resources/Audio/Announcements/Alerts/code_white.ogg
  Resources/Audio/Announcements/Alerts/code_yellow.ogg
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/bureaucratic_error.ogg
  Resources/Audio/Announcements/gas_leak.ogg
  Resources/Audio/Announcements/kudzu.ogg
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/noosphericstorm.ogg
  Resources/Audio/Announcements/outbreak7.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/radiation.ogg
  Resources/Audio/Announcements/shuttle_dock.ogg
  Resources/Audio/Announcements/shuttlecalled.ogg
  Resources/Audio/Announcements/shuttlerecalled.ogg
  Resources/Audio/Announcements/ventclog.ogg
  Resources/Audio/Announcements/welcome.ogg
Labels: No C#

#1158 Changes EncryptionKeyRobo's defualtChannel to Engineering
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
Labels: No C#

#1159 Adds Arena Evac shuttle
  Resources/Maps/Shuttles/UCLB_grid.yml
  Resources/Prototypes/Maps/arena.yml
Labels: No C#, Changes: Map

#1162 Add new sprites by Hyenh.
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/long_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/long_winter_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/long_winter_coat.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/long_winter_coat.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/long_winter_coat.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mail_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mail_winter_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mail_winter_coat.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mail_winter_coat.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mail_winter_coat.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/plaid_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/plaid_winter_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/plaid_winter_coat.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/plaid_winter_coat.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/plaid_winter_coat.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/discount.rsi/broken.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/discount.rsi/deny-unshaded.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/discount.rsi/eject-unshaded.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/discount.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/discount.rsi/normal-unshaded.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/discount.rsi/off.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/discount.rsi/panel.png
Labels: No C#, Changes: Sprites

#1161 Add two new RoundEnd sounds
  Resources/Audio/Announcements/RoundEnd/onlineplay.ogg
  Resources/Audio/Announcements/RoundEnd/worCant.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: No C#

#1168 Cherrypick 2023-02-04
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Explosion/ExplosionVisualsComponent.cs
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Dice/DiceSystem.cs
  Resources/Audio/Items/Medical/generic_healing_begin.ogg
  Resources/Audio/Items/Medical/generic_healing_end.ogg
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Locale/en-US/info/ban.ftl
  Resources/Locale/en-US/job/role-ban-command.ftl
  Resources/Maps/Salvage/asteroid-base.yml
  Resources/Maps/Salvage/cargo-1.yml
  Resources/Maps/Salvage/medium-1.yml
  Resources/Maps/Salvage/medium-crashed-shuttle.yml
  Resources/Maps/Salvage/medium-dock.yml
  Resources/Maps/Salvage/medium-library.yml
  Resources/Maps/Salvage/medium-pet-hospital.yml
  Resources/Maps/Salvage/medium-ruined-emergency-shuttle.yml
  Resources/Maps/Salvage/medium-silent-orchestra.yml
  Resources/Maps/Salvage/medium-vault-1.yml
  Resources/Maps/Salvage/small-1.yml
  Resources/Maps/Salvage/small-2.yml
  Resources/Maps/Salvage/small-3.yml
  Resources/Maps/Salvage/small-a-1.yml
  Resources/Maps/Salvage/small-ship-1.yml
  Resources/Maps/Salvage/tick-colony.yml
  Resources/Maps/Salvage/wh-salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Recipes/Lathes/botany.yml
  Resources/Prototypes/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/uranium_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/uranium_3.png
Labels: Changes: Sprites

#1170 Add mantis winter coat.
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/hyenh.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/hyenh.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/hyenh.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/long_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/long_winter_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/long_winter_coat.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/long_winter_coat.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/long_winter_coat.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mail_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mail_winter_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mail_winter_coat.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mail_winter_coat.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mail_winter_coat.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mantis_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mantis_winter_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mantis_winter_coat.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mantis_winter_coat.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mantis_winter_coat.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/plaid_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/plaid_winter_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/plaid_winter_coat.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/plaid_winter_coat.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/plaid_winter_coat.rsi/meta.json
Labels: No C#, Changes: Sprites

#1171 Add new mantis clothing.
  Resources/Prototypes/Entities/Objects/Devices/forensic_scanner.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensic_mantis.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Nyanotrasen/Clothing/Belt/mantis_belt.rsi/equipped-BELT.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mantis_belt.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mantis_belt.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mantis_belt.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mantis_belt.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mantis_fez.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mantis_fez.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mantis_fez.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mantis_fez.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mantis_fez.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mantis_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mantis_jacket.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mantis_jacket.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mantis_jacket.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/mantis_jacket.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Shoes/Boots/mantis_boots.rsi/equipped-FEET.png
  Resources/Textures/Nyanotrasen/Clothing/Shoes/Boots/mantis_boots.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Shoes/Boots/mantis_boots.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Shoes/Boots/mantis_boots.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Shoes/Boots/mantis_boots.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/mantis_jumpskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/mantis_jumpskirt.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/mantis_jumpskirt.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/mantis_jumpskirt.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/mantis_jumpskirt.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mantis_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mantis_uniform.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mantis_uniform.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mantis_uniform.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mantis_uniform.rsi/meta.json
Labels: No C#, Changes: Sprites

#1173 Fix vaccinator server not connecting on init.
  Content.Client/Disease/UI/VaccineMachineBoundUserInterface.cs
  Content.Client/Disease/UI/VaccineMachineMenu.xaml.cs
  Content.Server/Disease/DiseaseDiagnosisSystem.cs
  Content.Server/Disease/VaccineSystem.cs
  Content.Shared/Disease/DiseaseVaccineCreatorMessages.cs
Labels: Changes: UI

#1155 Reduce yield for mineable mountain
  Resources/Prototypes/Entities/Structures/Walls/mountain.yml
Labels: No C#

#1180 Fix felinid and moth missing laughter sound.
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#

#1179 Convert passenger references to assistant.
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#1178 Make the nuclear fission explosive a WarpPoint.
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
Labels: No C#

#1177 Add missing startAnnouncement for KudzuGrowth event.
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#1187 mouse toy is destructible
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#1185 Uplink Rebalances
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
Labels: No C#

#1169 Add Space Law Quick Reference to Guidebook
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/SL.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/Server Info/Guidebook/Law/Charges.xml
  Resources/Server Info/Guidebook/Law/Juris.xml
  Resources/Server Info/Guidebook/Law/SL.xml
  Resources/Server Info/Guidebook/Law/Trials.xml
Labels: No C#

#1196 Adds Atlas Station
  Resources/Maps/Salvage/atlas_atmos.yml
  Resources/Maps/Salvage/atlas_cargo.yml
  Resources/Maps/Salvage/atlas_conferenceroom.yml
  Resources/Maps/Salvage/atlas_dorms.yml
  Resources/Maps/Salvage/atlas_epi.yml
  Resources/Maps/Salvage/atlas_jailcells.yml
  Resources/Maps/Salvage/atlas_medical.yml
  Resources/Maps/Salvage/atlas_perma.yml
  Resources/Maps/Salvage/atlas_salvage.yml
  Resources/Maps/Salvage/atlas_service.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#1193 Wisps
  Content.Server/NPC/Components/NPCRangedCombatComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Ranged/RangedOperator.cs
  Content.Server/NPC/Systems/FactionSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Nyanotrasen/Events/MidRoundAntag.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/Events/GlimmerWispSpawn.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Dispel/DamageOnDispelComponent.cs
  Content.Shared/Weapons/Ranged/Components/BatteryAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Resources/Audio/Nyanotrasen/Mobs/GlimmerWisp/attributions.yml
  Resources/Audio/Nyanotrasen/Mobs/GlimmerWisp/magic_missile_1.ogg
  Resources/Audio/Nyanotrasen/Mobs/GlimmerWisp/magic_missile_2.ogg
  Resources/Audio/Nyanotrasen/Mobs/GlimmerWisp/magic_missile_3.ogg
  Resources/Audio/Nyanotrasen/Mobs/GlimmerWisp/wail.ogg
  Resources/Audio/Nyanotrasen/Mobs/GlimmerWisp/wisp_ambience.ogg
  Resources/Prototypes/NPCs/mob.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/glimmer_monsters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/SoundCollections/glimmer_wisp.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Nyanotrasen/Mobs/Monster/glimmer_wisp.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Monster/glimmer_wisp.rsi/willowisp.png
Labels: Changes: Sprites

#1206 fix snake
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: No C#

#1205 Add new medium salvage
  Resources/Maps/Salvage/medium-service-chunk-1.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#1164 moff plush
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff.png
Labels: No C#, Changes: Sprites

#1210 Proto
  Resources/Prototypes/Maps/hammurabi.yml
Labels: No C#, Changes: Map

#1216 Map Pool
  Resources/Prototypes/Maps/Pools/default.yml
Labels: No C#

#1214 Holy Water
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-service.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Nyanotrasen/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/single_reagent.yml
  Resources/Textures/Objects/Consumable/Drinks/flaskholywater.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/flaskholywater.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/holywater.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: No C#, Changes: Sprites

#1226 Diagnostic HUD shows Inorganic health bars
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#

#1228 Security has been given Bolas.
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
Labels: No C#

#1224 Guidebook Proofing Pass and More Colourful Formatting
  Resources/Server Info/Guidebook/Controls.xml
  Resources/Server Info/Guidebook/Eng/AME.xml
  Resources/Server Info/Guidebook/Eng/Atmospherics.xml
  Resources/Server Info/Guidebook/Eng/Engineering.xml
  Resources/Server Info/Guidebook/Eng/Fires.xml
  Resources/Server Info/Guidebook/Eng/MachineUpgrading.xml
  Resources/Server Info/Guidebook/Eng/Power.xml
  Resources/Server Info/Guidebook/Eng/ReverseEngineering.xml
  Resources/Server Info/Guidebook/Epi/APE.xml
  Resources/Server Info/Guidebook/Epi/Altar.xml
  Resources/Server Info/Guidebook/Epi/AnomalousResearch.xml
  Resources/Server Info/Guidebook/Epi/ArtifactReports.xml
  Resources/Server Info/Guidebook/Epi/Epistemics.xml
  Resources/Server Info/Guidebook/Epi/Psionics.xml
  Resources/Server Info/Guidebook/Epi/ScannersAndVessels.xml
  Resources/Server Info/Guidebook/Epi/TraversalDistorter.xml
  Resources/Server Info/Guidebook/Epi/Xenoarchaeology.xml
  Resources/Server Info/Guidebook/Jobs.xml
  Resources/Server Info/Guidebook/Law/Charges.xml
  Resources/Server Info/Guidebook/Law/Juris.xml
  Resources/Server Info/Guidebook/Law/SL.xml
  Resources/Server Info/Guidebook/Law/Trials.xml
  Resources/Server Info/Guidebook/Space Station 14.xml
  Resources/Server Info/Guidebook/Survival.xml
Labels: No C#

#1230 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#1234 Fixed moth leg position
  Resources/Textures/Nyanotrasen/Mobs/Species/Moth/parts.rsi/l_leg.png
Labels: No C#, Changes: Sprites

#1235 Add moth laugh and another plushie
  Resources/Audio/Voice/Moth/laugh_moth.ogg
  Resources/Audio/Voice/Moth/license.txt
  Resources/Audio/Voice/Moth/squeak_moth.ogg
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moffsician.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moffsician.rsi/moffsician.png
Labels: No C#, Changes: Sprites

#1238 Map Edits
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/arena.yml
Labels: No C#, Changes: Map

#1239 ghost roles redial UI fix
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesWindow.xaml.cs
  Content.Shared/Ghost/Roles/GhostRolesEuiMessages.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Changes: UI

#1241 new tips
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#1249 Nonlethal Shotguns
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: No C#

#1261 Tweaked aberrant flesh
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#

#1265 Adds a recipe for chicken nuggets
  Resources/Changelog/NyanotrasenChangelog.yml
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#1267 Small changes to pebble
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1269 golemancer starting gear tweak
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
Labels: No C#

#1271 Make guitars weapons with hitsounds
  Resources/Audio/Nyanotrasen/Weapons/electricguitarhit.ogg
  Resources/Audio/Nyanotrasen/Weapons/guitarhit.ogg
  Resources/Audio/Nyanotrasen/Weapons/licenses.txt
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/instruments.yml
Labels: No C#

#1272 Replace Tinned Can starter item
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ration.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-banana.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-brownie.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-cheese.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-meat.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-mint.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-neapolitan.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-soy.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-vegetable.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-bar-wonka.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb-trash.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ration.rsi/psb.png
Labels: No C#, Changes: Sprites

#1280 Fix survival round summary invalid end color tag.
  Resources/Locale/en-US/game-ticking/game-presets/preset-survival.ftl
Labels: No C#

#1281 Added a few posters
  Resources/Maps/arena.yml
  Resources/Maps/glacier.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/glaciermap.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/shoukoumap.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/shoukouposter.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/arenamap.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#1282 Add mining spawner
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/miningrock.yml
Labels: No C#

#1276 Updated Ovni
  Resources/Maps/ovni.yml
  Resources/Prototypes/Maps/ovni.yml
Labels: No C#, Changes: Map

#1273 Salvage cloak
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/Clothing/Neck/Cloaks/salvage.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/salvage.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/salvage.rsi/meta.json
Labels: No C#, Changes: Sprites

#1290 band-aid buckets
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
Labels: No C#

#1294 Bluespace stack
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/bluespace_2.png
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/bluespace_3.png
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/meta.json
Labels: No C#, Changes: Sprites

#1296 Safety Moth posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_0.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_1.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_10.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_11.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_2.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_3.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_4.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_5.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_7.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_8.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_9.png
Labels: No C#, Changes: Sprites

#1297 misc changes
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/misc.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: No C#

#1295 support for no skin/marking coloration
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SkinColor.cs
  Resources/Prototypes/Species/skeleton.yml
Labels: Changes: UI

#1299 new arachne visuals
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/arachne.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/arachne.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/arachne.rsi/spider_body.png
  Resources/Textures/Nyanotrasen/Mobs/Species/arachne.rsi/spider_body_front.png
Labels: No C#, Changes: Sprites

#1301 move hand teleporter from round start to teleportation tech
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/qsi.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: No C#

#1302 Moth fixes
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/moth_antennas.rsi/moffra.png
Labels: No C#, Changes: Sprites

#1303 Walter spawner removal Pebble
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1306 Fix the obnoxious loud guitar attack sound
  Resources/Audio/Nyanotrasen/Weapons/guitarhit.ogg
Labels: No C#

#1305 Fix typo in holy water tip
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#1308 add cable requirement to several switches
  Resources/Prototypes/Recipes/Construction/Graphs/machines/switching.yml
Labels: No C#

#1313 Discord Changelog
  .github/workflows/publish.yml
  Tools/actions_changelogs_since_last_run.py
Labels: No C#
