Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2023-07, with the labels that each got.

#1682 pebble update
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1697 Add ChemMaster to Botany on Angle/Shoko
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1692 add fireplace ambience
  Resources/Audio/Nyanotrasen/Ambience/Objects/attributions.yml
  Resources/Audio/Nyanotrasen/Ambience/Objects/fireplace.ogg
  Resources/Prototypes/Entities/Structures/Decoration/fireplace.yml
Labels: No C#

#1699 Set text files explicitly in gitattributes
  .gitattributes
Labels: No C#

#1701 Fix Pebble causing test failures
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1702 Fix missing data in anytaur masking helpers meta
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/meta.json
Labels: No C#

#1703 Revert "Set text files explicitly in gitattributes (#1699)"
  .gitattributes
Labels: No C#

#1704 Mothroach are no longer bloodbags
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#1677 Glimmer Monitor Cartridge/Program
  Content.Client/Nyanotrasen/CartridgeLoader/Cartridges/GlimmerMonitorUi.cs
  Content.Client/Nyanotrasen/CartridgeLoader/Cartridges/GlimmerMonitorUiFragment.xaml
  Content.Client/Nyanotrasen/CartridgeLoader/Cartridges/GlimmerMonitorUiFragment.xaml.cs
  Content.Client/Nyanotrasen/UserInterface/CustomControls/GlimmerGraph.cs
  Content.Server/Nyanotrasen/CartridgeLoader/GlimmerMonitorCartridgeComponent.cs
  Content.Server/Nyanotrasen/CartridgeLoader/GlimmerMonitorCartridgeSystem.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/PassiveGlimmerReductionSystem.cs
  Content.Shared/Nyanotrasen/CartridgeLoader/Cartridges/GlimmerMonitorUiState.cs
  Resources/Locale/en-US/nyanotrasen/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Textures/Interface/glimmerGraph.png
  Resources/Textures/Nyanotrasen/Objects/Devices/cartridge.rsi/cart-psi.png
  Resources/Textures/Nyanotrasen/Objects/Devices/cartridge.rsi/meta.json
Labels: Status: Needs Review, Changes: Sprites, Changes: UI

#1708 Cherry pick thermomachine fix
  Resources/Locale/en-US/atmos/gas-thermomachine-system.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: No C#

#1714 Add cargo pallets to Lighthouse
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#1715 Remove Pebble salvage expedition board
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1718 Add all new RoundEnd sounds
  Resources/Audio/Announcements/RoundEnd/anyone_around.ogg
  Resources/Audio/Announcements/RoundEnd/apc_destroyed.ogg
  Resources/Audio/Announcements/RoundEnd/attributions.yml
  Resources/Audio/Announcements/RoundEnd/bangin_donk.ogg
  Resources/Audio/Announcements/RoundEnd/bravery_firepower.ogg
  Resources/Audio/Announcements/RoundEnd/data_mining_algorithms.ogg
  Resources/Audio/Announcements/RoundEnd/dotsy.ogg
  Resources/Audio/Announcements/RoundEnd/easy_route.ogg
  Resources/Audio/Announcements/RoundEnd/good_business.ogg
  Resources/Audio/Announcements/RoundEnd/hidden_discipline.ogg
  Resources/Audio/Announcements/RoundEnd/i_need_a_computer.ogg
  Resources/Audio/Announcements/RoundEnd/license.txt
  Resources/Audio/Announcements/RoundEnd/never_trust_a_traitor.ogg
  Resources/Audio/Announcements/RoundEnd/onlineplay.ogg
  Resources/Audio/Announcements/RoundEnd/order_to_chaos.ogg
  Resources/Audio/Announcements/RoundEnd/out_an_airlock.ogg
  Resources/Audio/Announcements/RoundEnd/pacts_with_demons.ogg
  Resources/Audio/Announcements/RoundEnd/pdpt.ogg
  Resources/Audio/Announcements/RoundEnd/quarterly_gains.ogg
  Resources/Audio/Announcements/RoundEnd/secher_nbiw.ogg
  Resources/Audio/Announcements/RoundEnd/see_you_in_space.ogg
  Resources/Audio/Announcements/RoundEnd/ship_wanted.ogg
  Resources/Audio/Announcements/RoundEnd/smart_universe.ogg
  Resources/Audio/Announcements/RoundEnd/this_drink.ogg
  Resources/Audio/Announcements/RoundEnd/truth_imagination.ogg
  Resources/Audio/Announcements/RoundEnd/wasthisstorybasedno.ogg
  Resources/Audio/Announcements/RoundEnd/wasthisstorybasedyes.ogg
  Resources/Audio/Announcements/RoundEnd/withoutfurtherinterruption.ogg
  Resources/Audio/Announcements/RoundEnd/worCant.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: No C#

#1719 Remove pointless Syndicate items
  Resources/Locale/en-US/nyanotrasen/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
Labels: No C#

#1721 Add missing tattoos for appropriate morphotypes
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: No C#

#1722 Prevent labelling Sophia and the Oracle
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
Labels: No C#

#1727 Update changelog
  Resources/Changelog/Changelog.yml
Labels: No C#

#1730 Disable starvationdamage
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: No C#

#1696 Adds the MoNoKrome Drobe and additional MNK outfits.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/mnkdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/laundry.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_dress.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_dress.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_dress.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_dress.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_jacket.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_jacket.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_jacket.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_jacket.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_overall.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_overall.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_overall.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_overall.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_overall.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_top_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_top_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_top_coat.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_top_coat.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/black_top_coat.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Misc/exposed_shoulder.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/exposed_shoulder.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/exposed_shoulder.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/exposed_shoulder.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/exposed_shoulder.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Misc/gym_bra.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/gym_bra.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/gym_bra.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/gym_bra.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/gym_bra.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Misc/hoodie_white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/hoodie_white.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/hoodie_white.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/hoodie_white.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/hoodie_white.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Misc/office_skirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/office_skirt.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/office_skirt.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/office_skirt.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/office_skirt.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Misc/under_garments.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/under_garments.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/under_garments.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/under_garments.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Misc/under_garments.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/mnkdrobe.rsi/broken.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/mnkdrobe.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/mnkdrobe.rsi/off.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/mnkdrobe.rsi/panel.png
  Resources/migration.yml
Labels: No C#, Changes: Sprites

#1734 MNK grammar / spacing cleanup
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#1732 modernize golem recipes
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/golem.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/golem_wood.yml
Labels: No C#

#1741 Adds remaining MNK Vendors
  Resources/Maps/arena.yml
  Resources/Maps/tortuga.yml
  Resources/Prototypes/Maps/arena.yml
Labels: No C#, Changes: Map

#1750 Remove ability to wield shovel
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: No C#

#1743 add glimmer monitor program to chaplain PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#1758 Revert "Port goon farts (#26)"
  Resources/Audio/Effects/Fart/diarrhea.ogg
  Resources/Audio/Effects/Fart/fart1.ogg
  Resources/Audio/Effects/Fart/fart2.ogg
  Resources/Audio/Effects/Fart/fart3.ogg
  Resources/Audio/Effects/Fart/fart4.ogg
  Resources/Audio/Effects/Fart/fart5.ogg
  Resources/Audio/Effects/Fart/fart6.ogg
  Resources/Audio/Effects/Fart/frogfart.ogg
  Resources/Audio/Effects/Fart/license.txt
  Resources/Audio/Effects/Fart/poo.ogg
  Resources/Audio/Effects/Fart/poo2.ogg
  Resources/Audio/Effects/Fart/poo2_robot.ogg
  Resources/Audio/Effects/Fart/superfart.ogg
  Resources/Prototypes/SoundCollections/fart.yml
Labels: No C#
