Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2023-05, with the labels that each got.

#1527 Small fix to mothic salad recipe
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#1473 Get rid of mapped corpium on a salvage wreck
  Resources/Maps/Salvage/atlas_medical.yml
Labels: No C#, Status: Needs Review

#1519 Grape Soda Update
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/drink.yml
Labels: No C#

#1529 Hotfix angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#1530 update RedialAddresses.txt
  Resources/Server Info/RedialAddresses.txt
Labels: No C#

#1531 disable atlas medical salvage
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#1534 Hotfix angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#1536 adds fans to pebble
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1540 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1548 Add manual changelog tool
  Tools/manual_changelog.py
Labels: No C#

#1552 Update changelog
  Resources/Changelog/Changelog.yml
Labels: No C#

#1553 Hotfix angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#1543 rename cyborgs to robots
  Resources/Locale/en-US/borg/death.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/nyano-desc.ftl
  Resources/Prototypes/Maps/angle.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/northway.yml
  Resources/Prototypes/Maps/ovni.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/robots.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/medical_cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/play_time_trackers.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, Changes: Map, Merge Conflict

#1521 Mothroaches
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Resources/Audio/Nyanotrasen/Animals/moth_chitter.ogg
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Nyanotrasen/Accents/full_replacements.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/animals.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/Graphs/mothplushie.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_sounds.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/icon.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/mothroach.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/mothroach_dead.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/mothroach_lazy.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/mothroach_sleep.png
  Resources/Textures/Nyanotrasen/Objects/Materials/mothroach.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Materials/mothroach.rsi/mothroachhide.png
Labels: Changes: Sprites

#1563 Fix robot spawners' job_id
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/jobs.yml
Labels: No C#

#1565 Fix robot health analyser running out of charges
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/robots.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
Labels: No C#

#1558 Guidebook Tweaks
  Resources/ServerInfo/Guidebook/Law/Charges.xml
  Resources/ServerInfo/Guidebook/Law/Juris.xml
  Resources/ServerInfo/Guidebook/Law/SL.xml
  Resources/ServerInfo/Guidebook/Law/Trials.xml
  Resources/ServerInfo/Guidebook/Med/Chemistry.xml
Labels: No C#

#1535 White Cane for Blind People
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/white_cane.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/white_cane.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/white_cane.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/white_cane.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/white_cane.rsi/wielded-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/white_cane.rsi/wielded-inhand-right.png
Labels: Changes: Sprites

#1554 Adds Maintenance lights
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Cargo/cargo_service.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Power/lights.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/colored_lighting.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/randomitems.yml
  Resources/migration.yml
Labels: No C#

#1567 Add suffix
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/base_lighting.yml
Labels: No C#

#1569 Fix/reenable salvage map atlas_medical
  Resources/Maps/Salvage/atlas_medical.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#1537 turtle skirt
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/Decorskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/Decorskirt.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/Decorskirt.rsi/meta.json
Labels: No C#, Changes: Sprites

#1570 clean up turtle skirt commit
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/Decorskirt.rsi/meta.json
Labels: No C#

#1574 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1571 Defines earliestStart on MidRoundAntag
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: No C#

#1575 Add Defibrillators and Cell Chargers to Medbays
  Resources/Maps/glacier.yml
  Resources/Maps/lighthouse.yml
  Resources/Maps/ovni.yml
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1581 Add missing clothes to uniform printer
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: No C#

#1584 Fixes for #1581
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/migration.yml
Labels: No C#

#1582 Fix robot crew monitor running out of charges
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/robots.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
Labels: No C#

#1596 Update changelog
  Resources/Changelog/Changelog.yml
Labels: No C#

#1591 Make altars craftable
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/altars.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/furniture.yml
Labels: No C#

#1594 Glacier Update
  Resources/Maps/glacier.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1601 Make prometheum heal caustic, bleeding, bloodlevel
  Resources/Prototypes/Nyanotrasen/Reagents/psionic.yml
Labels: No C#

#1605 Add Trash tag to FoodBadRecipe
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: No C#

#1610 Added missing HighRiskItem tag
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
Labels: No C#

#1597 Fix arachne being able to wear RD hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#1608 Corgi meat adjustment
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: No C#

#1588 Add moth squeaks
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#

#1600 Fix several reagents satiating vampires
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#

#1618 Update changelog
  Resources/Changelog/Changelog.yml
Labels: No C#
