Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2023-06, with the labels that each got.

#1607 Cannabis changes
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/joints.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#1614 Make HealingComponent items work on Arachne
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#1643 Adds Naota outfit.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/naota.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/naota.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/naota.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/naota.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/naota.rsi/meta.json
Labels: No C#, Changes: Sprites

#1645 Add more clothes by Hyenh
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gakuran.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gakuran.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gakuran.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gakuran.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gakuran.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/red_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/red_dress.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/red_dress.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/red_dress.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/red_dress.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/swimsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/swimsuit.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/swimsuit.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/swimsuit.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/swimsuit.rsi/meta.json
Labels: No C#, Changes: Sprites

#1644 Changes the RE sprite.
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/reverseEngineering.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/closed.png
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/open.png
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/unlit.png
Labels: No C#, Changes: Sprites

#1622 Minor tweaks and fixes to Glacier
  Resources/Maps/glacier.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1649 Fixes Arachne and Moth body parts not being trash
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/spider.yml
Labels: No C#

#1654 Add missing InventorySlots components
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/dogs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/primates.yml
Labels: No C#

#1655 Fix Nyano GhostRoleMobSpawners
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/ghost_roles.yml
Labels: No C#

#1657 Disable VentClog event
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#1658 Update changelog
  Resources/Changelog/Changelog.yml
Labels: No C#

#1660 Add tidy map tool for cleaning maps
  Tools/tidy_map.py
Labels: No C#

#1673 Tweak the malfunctioning robots
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/robots.yml
Labels: No C#

#1675 vent bull
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/dogs.yml
  Resources/Textures/Nyanotrasen/Mobs/Pets/ventbull.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Pets/ventbull.rsi/pibble.png
  Resources/Textures/Nyanotrasen/Mobs/Pets/ventbull.rsi/pibble_dead.png
Labels: No C#, Changes: Sprites

#1667 Glimmer and Psionic CVars
  Content.Server/Nyanotrasen/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Nyanotrasen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Nyanotrasen/Chat/NyanoChatSystem.cs
  Content.Server/Nyanotrasen/Chemistry/ReactionEffects/ChangeGlimmerReactionEffect.cs
  Content.Server/Nyanotrasen/Objectives/Conditions/RaiseGlimmerCondition.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/GlimmerCommands.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/GlimmerReactiveSystem.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/PassiveGlimmerReductionSystem.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/Structures/GlimmerStructuresSystem.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
  Content.Server/Nyanotrasen/Research/SophicScribe/SophicScribeSystem.cs
  Content.Server/Nyanotrasen/StationEvents/Events/FreeProberRule.cs
  Content.Server/Nyanotrasen/StationEvents/Events/GlimmerEventSystem.cs
  Content.Server/Nyanotrasen/StationEvents/Events/GlimmerWispSpawnRule.cs
  Content.Server/Nyanotrasen/StationEvents/Events/NoosphericFryRule.cs
  Content.Server/Nyanotrasen/StationEvents/Events/NoosphericStormRule.cs
  Content.Server/Nyanotrasen/Xenoarchaeology/Xenoartifacts/Effects/Systems/PsionicArtifactSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TelepathicArtifactSystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/SharedPsionicAbilitiesSystem.cs
  Content.Shared/Nyanotrasen/Psionics/Glimmer/GlimmerSystem.cs
Labels: Status: Needs Review
