Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2023-01, with the labels that each got.

#913 Unlocks the airlocks
  Resources/Maps/Shuttles/BC20_emergencyShuttleG.yml
Labels: No C#

#919 Update Angle + Prototype
  Resources/Maps/angle.yml
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map

#925 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#923 Change Panic to Panic Siphon.
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
Labels: No C#

#926 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#927 Pebble Patchie 9 something
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#930 Make liquid storage tanks more OSHA compliant.
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
Labels: No C#

#929 Remove redundant whitelist note in job descriptions.
  Resources/Locale/en-US/job/nyano-desc.ftl
Labels: No C#

#932 Law UI upgrade
  Content.Client/Borgs/LawUIContainer.xaml
  Content.Client/Borgs/LawUIContainer.xaml.cs
  Content.Client/Borgs/LawsMenu.xaml
  Content.Client/Borgs/LawsMenu.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Borgs/LawCommands.cs
  Content.Server/Borgs/LawsSystem.cs
  Content.Shared/Borgs/LawMessages.cs
  Content.Shared/Borgs/LawsComponent.cs
  Content.Shared/Borgs/SharedLawsSystem.cs
  Resources/Locale/en-US/borg/laws.ftl
Labels: Changes: UI

#935 mirror UI update
  Content.Client/Administration/UI/BanList/BanListControl.xaml
  Content.Client/Administration/UI/BanList/BanListIdsPopup.xaml
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Notes/AdminNotesControl.xaml
  Content.Client/Administration/UI/Notes/AdminNotesLinePopup.xaml
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml
  Content.Client/Cargo/UI/CargoProductRow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Content.Client/Configurable/UI/ConfigurationMenu.cs
  Content.Client/Mech/Ui/MechMenu.xaml
  Content.Client/PDA/PDANavigationButton.xaml.cs
  Content.Client/PDA/PDAProgramItem.xaml.cs
  Content.Client/PDA/PDASettingsButton.xaml.cs
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Stylesheets/StyleSpace.cs
  Content.Client/UserInterface/Controls/MenuButton.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Atmos/GasTank/GasTankWindow.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterButton.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/Wires/UI/WiresMenu.cs
  Resources/Textures/Interface/Nano/chat_sub_background.png
  Resources/Textures/Interface/Nano/checkbox_checked.svg.96dpi.png
  Resources/Textures/Interface/Nano/checkbox_unchecked.svg.96dpi.png
  Resources/Textures/Interface/Nano/gear.svg.192dpi.png
  Resources/Textures/Interface/Nano/item_status_left.svg.96dpi.png
  Resources/Textures/Interface/Nano/item_status_middle.svg.96dpi.png
  Resources/Textures/Interface/Nano/item_status_right.svg.96dpi.png
  Resources/Textures/Interface/Nano/left_arrow.svg.192dpi.png
  Resources/Textures/Interface/Nano/light_panel_background_bordered.png
  Resources/Textures/Interface/Nano/lineedit.png
  Resources/Textures/Interface/Nano/lock.svg.192dpi.png
  Resources/Textures/Interface/Nano/lock_open.svg.192dpi.png
  Resources/Textures/Interface/Nano/right_arrow.svg.192dpi.png
  Resources/Textures/Interface/Nano/stripeback.svg.96dpi.png
  Resources/Textures/Interface/Nano/tabcontainer_panel.png
  Resources/Textures/Interface/Nano/tooltip.png
  Resources/Textures/Interface/Nano/transparent_window_background_bordered.png
  Resources/Textures/Interface/Nano/window_background.png
  Resources/Textures/Interface/Nano/window_background_bordered.png
  Resources/Textures/Interface/Nano/window_header.png
  Resources/Textures/Interface/Nano/window_header_alert.png
Labels: Changes: UI

#928 Adds the map Shōkō to rotation
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: No C#, Changes: Map

#939 Update Shoukou
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: No C#, Changes: Map

#941 Lighthouse QoL Update
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#944 Small Pebble Tweaks
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#945 Lighthouse maintenance expansion pak
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#947 Update shoukou.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#949 small yaml features
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
Labels: No C#

#950 Update shoukou.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#952 Lighthouse Expansion Pak Fix
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#953 Lighthouse Expansion Pak 2
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#955 Update Shoukou
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: No C#, Changes: Map

#954 add fish labeler
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Tools/fish_labeler.yml
  Resources/Prototypes/Entities/Objects/Tools/hand_labeler.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/Graphs/fish_labeler.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#963 make doors etc uncheesable
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/frame.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#964 A
  Resources/Audio/Effects/Vehicle/bone.ogg
  Resources/Audio/Effects/Vehicle/license.txt
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: No C#

#966 cancer mouse
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
Labels: No C#

#970 CI ifix
  .github/workflows/build-test-debug.yml
  .github/workflows/build-test-release.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/yaml-linter.yml
Labels: No C#

#972 Map Edits
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#977 Update Rules.txt
  Resources/Server Info/Rules.txt
Labels: No C#

#971 Bartending recipes
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/drink.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: No C#

#980 Catch up on research
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Research/ResearchSystem.cs
  Content.Client/Research/TechnologyDatabaseComponent.cs
  Content.Client/Research/UI/DiskConsoleBoundUserInterface.cs
  Content.Client/Research/UI/DiskConsoleMenu.xaml
  Content.Client/Research/UI/DiskConsoleMenu.xaml.cs
  Content.Client/Research/UI/ResearchConsoleBoundUserInterface.cs
  Content.IntegrationTests/Tests/ResearchTest.cs
  Content.Server/Disease/VaccineSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Components/ResearchClientComponent.cs
  Content.Server/Research/Components/ResearchConsoleComponent.cs
  Content.Server/Research/Components/ResearchPointSourceComponent.cs
  Content.Server/Research/Components/ResearchServerComponent.cs
  Content.Server/Research/Components/TechnologyDatabaseComponent.cs
  Content.Server/Research/Disk/ResearchDiskComponent.cs
  Content.Server/Research/Disk/ResearchDiskSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/Research/Systems/ResearchSystem.PointSource.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Server/Research/Systems/ResearchSystem.cs
  Content.Server/Research/TechnologyDisk/Components/DiskConsoleComponent.cs
  Content.Server/Research/TechnologyDisk/Components/DiskConsolePrintingComponent.cs
  Content.Server/Research/TechnologyDisk/Components/TechnologyDiskComponent.cs
  Content.Server/Research/TechnologyDisk/Systems/DiskConsoleSystem.cs
  Content.Server/Research/TechnologyDisk/Systems/TechnologyDiskSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Lathe/LatheMessages.cs
  Content.Shared/Research/Components/ResearchClientComponent.cs
  Content.Shared/Research/Components/ResearchServerComponent.cs
  Content.Shared/Research/Components/SharedResearchConsoleComponent.cs
  Content.Shared/Research/Components/SharedTechnologyDatabaseComponent.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/SharedDiskConsole.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/en-US/prototypes/catalog/research/technologies.ftl
  Resources/Locale/en-US/research/components/technology-disk.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/techdiskterminal.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Objects/Misc/module.rsi/datadisk_base.png
  Resources/Textures/Objects/Misc/module.rsi/datadisk_label.png
  Resources/Textures/Objects/Misc/module.rsi/meta.json
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/icon.png
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/meta.json
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/printing.png
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/unshaded.png
Labels: Changes: Sprites, Changes: UI

#986 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#989 all midrounds share the same event and chance
  Content.Server/Nyanotrasen/Events/Components/MidRoundAntagSpawnLocationComponent.cs
  Content.Server/Nyanotrasen/Events/EvilTwin.cs
  Content.Server/Nyanotrasen/Events/Fugitive.cs
  Content.Server/Nyanotrasen/Events/MidRoundAntag.cs
  Content.Server/Nyanotrasen/Events/VampSpawn.cs
  Content.Server/Nyanotrasen/Fugitive/FugitiveSpawnLocationComponent.cs
  Content.Server/StationEvents/Events/MouseMigration.cs
  Resources/Maps/angle.yml
  Resources/Maps/arena.yml
  Resources/Maps/lighthouse.yml
  Resources/Maps/ovni.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/ghost_roles.yml
Labels: Changes: Map

#991 Airtight entity storage
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: No C#

#946 Arrow ERT shuttle
  Resources/Maps/Shuttles/arrow.yml
Labels: No C#

#915 Adds 2 posters
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/poster_medicate.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/poster_notouching.png
  Resources/Textures/Objects/Specific/Medical/mouth_swab.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/meta.json
  Resources/Textures/Structures/Machines/diagnoser.rsi/meta.json
  Resources/Textures/Structures/Machines/vaccinator.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites

#988 crewmate crate
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Textures/Objects/Fun/pequeno.rsi/icon.png
  Resources/Textures/Objects/Fun/pequeno.rsi/meta.json
Labels: No C#, Changes: Sprites

#999 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#997 Minor Pebble fixes
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1001 Glacier 1.9
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: No C#, Changes: Map

#998 Digging
  Content.Server/Maps/TileSystem.cs
  Content.Server/Tools/Components/EarthDiggingComponent.cs
  Content.Server/Tools/ToolSystem.EarthDigging.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/shovel_dig.ogg
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/tool_qualities.yml
  Resources/Textures/Objects/Tiles/tile.rsi/bedrock-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/bedrock-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/bedrock.png
  Resources/Textures/Objects/Tiles/tile.rsi/dirt-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/dirt-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/dirt.png
  Resources/Textures/Objects/Tiles/tile.rsi/grassdark-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/grassdark-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/grassdark.png
  Resources/Textures/Objects/Tiles/tile.rsi/grassjungle-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/grassjungle-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/grasslight-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/grasslight-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/grasslight.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Tiles/bedrock.png
Labels: Status: Needs Review, Changes: Sprites

#1003 Glacier 1.91
  Resources/Maps/glacier.yml
Labels: No C#, Changes: Map

#974 Shipyard
  Content.Client/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/Shipyard/Components/ShipyardConsoleComponent.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/Shipyard/UI/VesselRow.xaml
  Content.Client/Shipyard/UI/VesselRow.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Nyanotrasen/Shipyard/Commands/PurchaseShuttleCommand.cs
  Content.Server/Nyanotrasen/Shipyard/Components/ShipyardConsoleComponent.cs
  Content.Server/Nyanotrasen/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/Nyanotrasen/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/Nyanotrasen/Shipyard/BUI/ShipyardConsoleInterfaceState.cs
  Content.Shared/Nyanotrasen/Shipyard/Components/SharedShipyardConsoleComponent.cs
  Content.Shared/Nyanotrasen/Shipyard/Events/ShipyardConsolePurchaseMessage.cs
  Content.Shared/Nyanotrasen/Shipyard/Prototypes/VesselPrototype.cs
  Content.Shared/Nyanotrasen/Shipyard/SharedShipyardSystem.cs
  Resources/Locale/en-US/shipyard/shipyard-console-component.ftl
  Resources/Maps/Shuttles/barge.yml
  Resources/Maps/Shuttles/prospecter.yml
  Resources/Maps/Shuttles/pts.yml
  Resources/Prototypes/Nyanotrasen/Catalog/default_shipyard_catalog.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/computers.yml
Labels: Status: Needs Review, Changes: UI

#1002 add moldy loaf
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/moldy.png
Labels: No C#, Changes: Sprites

#1006 Mini Pebble update
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1005 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1007 Glacier 1.92
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: No C#, Changes: Map

#1008 Small lighthouse thing
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#1009 Update Angle, Shoukou, and NTSV Tote, added shuttles to shipyard
  Resources/Maps/Shuttles/ntsv-tote.yml
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Nyanotrasen/Catalog/default_shipyard_catalog.yml
Labels: No C#, Changes: Map

#1010 Give sinks and water coolers AutoRegenReagent.
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: No C#

#1011 Adds MailDrobe
  Resources/Locale/en-US/advertisements/vending/maildrobe.ftl
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Advertisements/maildrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/maildrobe.rsi/broken.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/maildrobe.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/maildrobe.rsi/normal-unshaded.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/maildrobe.rsi/off.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/maildrobe.rsi/panel.png
Labels: No C#, Changes: Sprites

#1013 Adds pitbull sprites
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/dogs.yml
  Resources/Textures/Nyanotrasen/Mobs/Pets/pitbull.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Pets/pitbull.rsi/pibble.png
  Resources/Textures/Nyanotrasen/Mobs/Pets/pitbull.rsi/pibble_dead.png
Labels: No C#, Changes: Sprites

#1012 Adds reinforced wood table
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/full.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_0.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_1.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_2.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_3.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_4.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_5.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_6.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_7.png
Labels: No C#, Changes: Sprites

#1015 quick rules.txt change
  Resources/Server Info/Rules.txt
Labels: No C#

#1018 shuttle building 1984
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#

#1020 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1023 Hotfix angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#1024 Adds Colored Lights
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Cargo/cargo_service.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/colored_lighting.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/devices.yml
Labels: No C#

#1029 Medical HUD is functional and researchable
  Content.Client/HealthOverlay/HealthOverlaySystem.cs
  Content.Client/HealthOverlay/UI/HealthOverlayGui.cs
  Content.Client/SimpleStation14/Overlays/Systems/HealthGlassesSystem.cs
  Content.Shared/SimpleStation14/Clothing/Components/HealthGlassesComponent.cs
  Resources/Maps/lighthouse.yml
  Resources/Maps/pebble.yml
  Resources/Maps/saucer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: Changes: Map

#1032 Update Angle & Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1035 glacier weather
  Resources/Maps/glacier.yml
  Resources/Prototypes/Tiles/plating.yml
Labels: No C#, Changes: Map

#1036 remove weather from glacier
  Resources/Maps/glacier.yml
Labels: No C#, Changes: Map

#1039 Pitbull name set
  Resources/Prototypes/Datasets/Names/pitbull.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/dogs.yml
Labels: No C#

#1041 Delete RP_Rules.txt
  Resources/Server Info/RP_Rules.txt
Labels: No C#

#1046 Update glacier.yml
  Resources/Maps/glacier.yml
Labels: No C#, Changes: Map

#1026 reverse engineering machine
  Content.Client/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineBoundUserInterface.cs
  Content.Client/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineMenu.xaml
  Content.Client/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineMenu.xaml.cs
  Content.IntegrationTests/Tests/Nyanotrasen/ReverseEngineering/ReverseEngineeringTest.cs
  Content.Server/Nyanotrasen/ReverseEngineering/ActiveReverseEngineeringMachineComponent.cs
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineComponent.cs
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringSystem.cs
  Content.Shared/Nyanotrasen/ReverseEngineering/ReverseEngineeringComponent.cs
  Content.Shared/Nyanotrasen/ReverseEngineering/SharedReverseEngineering.cs
  Resources/Locale/en-US/disease/vaccine.ftl
  Resources/Locale/en-US/reverseengineering/reverseengineering.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/atmos_alarms.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/disposal.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/firelock.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/intercom.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/rped.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Circuitboards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/reverseEngineering.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/hardsuits.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/parts.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/syndicate.rsi/combat-equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/syndicate.rsi/icon-flash.png
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/syndicate.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/syndicate.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/syndicate.rsi/off-equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/syndicate.rsi/on-equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#1043 Wielded Mop and Hairball icon
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Specific/Species/felinid.rsi/icon.png
  Resources/Textures/Objects/Specific/Species/felinid.rsi/meta.json
Labels: No C#, Changes: Sprites

#1047 Update Angle & Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1052 Update Shoukou and Tote
  Resources/Maps/Shuttles/ntsv-tote.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Nyanotrasen/Catalog/default_shipyard_catalog.yml
Labels: No C#, Changes: Map

#1054 Crank up rare chance for salvage machine parts/ board spawners
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/machineparts.yml
Labels: No C#

#1055 let space bears through doors
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
Labels: No C#

#1056 turn role timers up a bit on some jobs
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/salvage_technician.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Labels: No C#

#1058 add guidebooks for reverse engineering and epi
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Guidebook/epi.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/shotgun.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/reverseEngineering.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Server Info/Guidebook/Altar.xml
  Resources/Server Info/Guidebook/Epistemics.xml
  Resources/Server Info/Guidebook/Psionics.xml
  Resources/Server Info/Guidebook/ReverseEngineering.xml
Labels: No C#

#1060 Update shoukou.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1062 fix oracle guidebook appearance
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
Labels: No C#

#1061 NTMC Helix
  Resources/Maps/Shuttles/helix.yml
  Resources/Prototypes/Nyanotrasen/Catalog/default_shipyard_catalog.yml
Labels: No C#

#1063 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#1064 Space cat now resists space, Penguin now resists cold.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#1065 Adds directional switches
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/switching.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
  Resources/Textures/Structures/Wallmounts/switch.rsi/dead.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/off.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/on.png
Labels: No C#, Changes: Sprites

#1044 Big Pebble update
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1068 Add NTV Pulse
  Resources/Maps/Shuttles/barge.yml
  Resources/Maps/Shuttles/ntv-pulse.yml
  Resources/Prototypes/Nyanotrasen/Catalog/default_shipyard_catalog.yml
Labels: No C#

#1072 reverse engineering machine sprite and visuals
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringSystem.cs
  Content.Shared/Nyanotrasen/ReverseEngineering/SharedReverseEngineering.cs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/reverseEngineering.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/closed.png
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/open.png
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/unlit.png
Labels: Changes: Sprites

#1076 anomalies count as psionic
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
Labels: No C#

#1077 add guidebooks for anomaly stuff
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/node_scanner.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/Guidebook/epi.yml
  Resources/Server Info/Guidebook/Epi/ArtifactReports.xml
  Resources/Server Info/Guidebook/Epi/TraversalDistorter.xml
  Resources/Server Info/Guidebook/Epi/Xenoarchaeology.xml
Labels: No C#

#1080 add anomaly scanner to epi lockers
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/ourjobs.yml
Labels: No C#

#1082 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#1083 Pebble Anomnom update
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1091 Lid O' Saws
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Decoration/lidsalami.yml
  Resources/Prototypes/Nyanotrasen/psionicArtifacts.yml
  Resources/Textures/Objects/Decoration/lidsalami.rsi/lidosaws.png
  Resources/Textures/Objects/Decoration/lidsalami.rsi/meta.json
Labels: No C#, Changes: Sprites

#1092 Update shoukou.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1097 delete spawn points for unused roles
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/jobs.yml
Labels: No C#

#1099 Map Hotfix
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#1098 Small Pebble fix
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1100 rules update
  Resources/Server Info/Rules.txt
Labels: No C#

#1102 Set Red Glowstick duration from 10 seconds to default, 900 seconds
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
Labels: No C#

#1104 feedback from colin
  Resources/Server Info/Guidebook/Epi/Epistemics.xml
Labels: No C#

#1090 Allow redialing to other servers
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Launcher/LauncherConnecting.cs
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Client/Nyanotrasen/Redial/RedialManager.cs
  Content.Client/Nyanotrasen/Redial/RedialRandomCommand.cs
  Content.Client/Nyanotrasen/Redial/RedialSystem.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesWindow.xaml.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Ghost/Roles/UI/GhostRolesEui.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Nyanotrasen/Redial/RedialManager.cs
  Content.Server/Nyanotrasen/Redial/RedialServerCommands.cs
  Content.Server/Nyanotrasen/Redial/RedialSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Ghost/Roles/GhostRolesEuiMessages.cs
  Content.Shared/Nyanotrasen/Redial/MsgRedialServer.cs
  Content.Shared/Nyanotrasen/Redial/SharedRedial.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
  Resources/Locale/en-US/launcher/launcher-connecting.ftl
  Resources/Locale/en-US/redial/redial-commands.ftl
  Resources/Server Info/RedialAddresses.txt
Labels: Status: Needs Review, Changes: UI

#1105 rework the health overlay completely
  Content.Client/Commands/ToggleHealthBarsCommand.cs
  Content.Client/EntityHealthBar/EntityHealthBarOverlay.cs
  Content.Client/EntityHealthBar/ShowHealthBarsSystem.cs
  Content.Client/HealthOverlay/HealthOverlaySystem.cs
  Content.Client/HealthOverlay/UI/HealthOverlayBar.cs
  Content.Client/HealthOverlay/UI/HealthOverlayGui.cs
  Content.Client/SimpleStation14/Overlays/Systems/HealthGlassesSystem.cs
  Content.Shared/EntityHealthBar/ShowHealthBarsComponent.cs
  Content.Shared/SimpleStation14/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/SimpleStation14/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/SimpleStation14/Clothing/Components/HealthGlassesComponent.cs
  Content.Shared/SimpleStation14/Clothing/Systems/ClothingGrantComponentSystem.cs
  Content.Shared/SimpleStation14/Clothing/Systems/ClothingGrantingSystem.cs
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/borgs.yml
  Resources/Textures/Interface/Misc/health_bar.rsi/icon.png
  Resources/Textures/Interface/Misc/health_bar.rsi/meta.json
Labels: Changes: Sprites

#1109 Two new End Round clips to describe based rounds
  Resources/Audio/Announcements/RoundEnd/wasthisstorybasedno.ogg
  Resources/Audio/Announcements/RoundEnd/wasthisstorybasedyes.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: No C#

#1110 Track 4
  Resources/Audio/Lobby/track4.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#1108 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#1111 Lighthouse Anomalous Update
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#1112 Glacier 1.94
  Resources/Maps/glacier.yml
Labels: No C#, Changes: Map

#1114 Some clothing now provides heat protection
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
Labels: No C#, Changes: Map

#1115 Update Ovni
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#1120 Reenable drones + drone overlay
  Content.Client/Nyanotrasen/IgnoreHumanoids/IgnoreHumanoidsOverlay.cs
  Content.Client/Nyanotrasen/IgnoreHumanoids/IgnoreHumanoidsOverlaySystem.cs
  Content.Server/Drone/Components/DroneComponent.cs
  Content.Server/Drone/DroneSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Drone/DroneComponent.cs
  Content.Shared/Drone/SharedDroneSystem.cs
  Content.Shared/Nyanotrasen/IgnoreHumanoids/IgnoreHumanoidsOverlayComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Nyanotrasen/Effects/unknown_humanoid.yml
  Resources/Textures/Nyanotrasen/Effects/unknown_humanoid.rsi/meta.json
  Resources/Textures/Nyanotrasen/Effects/unknown_humanoid.rsi/unknown_humanoid.png
Labels: Changes: Sprites

#1124 Adds Sake and Soju
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/sakebottle.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/sakebottle.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/sakecup.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/sakecup.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/sojubottle.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/sojubottle.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/sakeglass.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/sakeglass.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/saketokkuri.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/saketokkuri.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/sojuglass.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/sojuglass.rsi/meta.json
Labels: No C#, Changes: Sprites

#1122 Update speech_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#1125 unknown humanoid norot and netsync false
  Resources/Prototypes/Nyanotrasen/Effects/unknown_humanoid.yml
Labels: No C#

#1127 Update salvage.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#1130 Minor fixes to Ovni's Epistemics
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#1129 Update Angle & Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1131 Adjust map prototypes
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/ovni.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1134 Fix moth and felinid scream
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#, Status: Needs Review

#1137 Revengineering20230130
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/reverseEngineering.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/devices.yml
Labels: No C#

#1138 upgrade N.E.I.L.
  Resources/Audio/Announcements/Alerts/code_blue.ogg
  Resources/Audio/Announcements/Alerts/code_delta.ogg
  Resources/Audio/Announcements/Alerts/code_epsilon.ogg
  Resources/Audio/Announcements/Alerts/code_gamma.ogg
  Resources/Audio/Announcements/Alerts/code_green.ogg
  Resources/Audio/Announcements/Alerts/code_red.ogg
  Resources/Audio/Announcements/Alerts/code_violet.ogg
  Resources/Audio/Announcements/Alerts/code_white.ogg
  Resources/Audio/Announcements/Alerts/code_yellow.ogg
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/bureaucratic_error.ogg
  Resources/Audio/Announcements/gas_leak.ogg
  Resources/Audio/Announcements/kudzu.ogg
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/noosphericstorm.ogg
  Resources/Audio/Announcements/outbreak7.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/radiation.ogg
  Resources/Audio/Announcements/shuttle_dock.ogg
  Resources/Audio/Announcements/shuttlecalled.ogg
  Resources/Audio/Announcements/shuttlerecalled.ogg
  Resources/Audio/Announcements/ventclog.ogg
  Resources/Audio/Announcements/welcome.ogg
Labels: No C#

#1140 fix bluespace crystal machine storage decon
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Stacks/materials.yml
Labels: No C#

#1141 Update Angle & Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1143 Ovni: Add a corridor between Cargo and Salvage
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#1123 Angry critter rebalance/Salvage spawns
  Resources/Maps/arena.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/untimedAISpawners.yml
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/icon.png
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/meta.json
  Resources/Textures/Mobs/Animals/penguin.rsi/icon.png
  Resources/Textures/Mobs/Animals/penguin.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#1148 Unmineable mountain rock
  Resources/Prototypes/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/full.png
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/rock_0.png
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/rock_1.png
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/rock_2.png
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/rock_3.png
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/rock_4.png
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/rock_5.png
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/rock_6.png
  Resources/Textures/Nyanotrasen/Structures/walls/mountain_rock_ore.rsi/rock_7.png
Labels: No C#, Changes: Sprites

#1151 The Light Purge of Pebble
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1150 Fix TemperatureProtection on intended clothing
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
Labels: No C#, Status: Needs Review

#1149 Switch mountains
  Resources/Prototypes/Entities/Structures/Walls/mountain.yml
Labels: No C#
