Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2023-04, with the labels that each got.

#1440 Add suffix
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Borgs/borgs_tools.yml
Labels: No C#

#1435 Update look of the lawyer jumpsuits
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/meta.json
Labels: No C#, Changes: Sprites

#1434 Nerf space ticks
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: No C#

#1437 Shuttle Edits
  Resources/Maps/Shuttles/NTES_BC20.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#1448 CentCom Hardsuit
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertcentcomm.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertcentcomm.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertcentcomm.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertcentcomm.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertcentcomm.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/icon-flash.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/off-equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hardsuits/ERThelmets/ertcentcomm.rsi/on-equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Hardsuits/ERTSuits/ertcentcomm.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Hardsuits/ERTSuits/ertcentcomm.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Hardsuits/ERTSuits/ertcentcomm.rsi/meta.json
Labels: No C#, Changes: Sprites

#1447 Adds Northway Spaceship map
  Resources/Maps/northway.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/northway.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/northwaymap.png
Labels: No C#, Changes: Sprites, Changes: Map

#1450 Paramedic Adjustments
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Maps/angle.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/paramedic.yml
Labels: No C#, Needs Discussion, Changes: Map

#1456 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1461 Paramedic PDA Sound and Border colors
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
Labels: No C#

#1460 Fix borito pie flavor
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Nyanotrasen/Flavors/flavors.yml
Labels: No C#

#1466 PDA UI colors
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#1468 Northway Spaceship fixes and tweaks
  Resources/Maps/northway.yml
Labels: No C#, Changes: Map

#1465 Arachne Barotrauma Blunt Reduction.
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/arachne.yml
Labels: No C#

#1467 Role .yml adjustments
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/salvage_technician.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/medical_cyborg.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
Labels: No C#

#1458 White ferret and ferret spawner
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Nyanotrasen/Mobs/Pets/whiteferret.rsi/ferret.png
  Resources/Textures/Nyanotrasen/Mobs/Pets/whiteferret.rsi/ferret_dead.png
  Resources/Textures/Nyanotrasen/Mobs/Pets/whiteferret.rsi/ferret_lazy.png
  Resources/Textures/Nyanotrasen/Mobs/Pets/whiteferret.rsi/meta.json
Labels: No C#, Changes: Sprites

#1469 Pebble Cargo Pallets
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1470 Update Angle & Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1471 Northway Spaceship cargo pallet changes
  Resources/Maps/northway.yml
Labels: No C#, Changes: Map

#1436 Add Testing Lights
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/colored_lighting.yml
Labels: No C#

#1462 Animal inventory updates
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/primates.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/crab_inventory_template.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/ian_inventory_template.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/penguin_inventory_template.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
Labels: No C#

#1475 F in chat for Pebble evac
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1474 Update head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: No C#

#1480 Update paramedic.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/paramedic.yml
Labels: No C#

#1481 Update ovni.yml
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#1477 Add Chicken Dinner poster
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/CerebralError.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/CerebralError.rsi/poster_ChknDnnr.png
Labels: No C#, Changes: Sprites

#1455 Add moth plushies to Space Villain arcane reward pool
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moffbartender.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moffmusician.png
Labels: Changes: Sprites

#1483 Ovni telecoms power
  Resources/Maps/ovni.yml
Labels: No C#, Changes: Map

#1485 Map Edits
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#1490 Map Edits
  Resources/Maps/glacier.yml
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#1487 Double required Atmos hours for CE
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Labels: No C#

#1484 Improve salvage spawn loot
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
Labels: No C#

#1492 Fixes Slime and Skeleton not having inventories
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: No C#

#1491 Make poncho actually warm
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
Labels: No C#

#1493 Make pinguin able to withstand Glacier's cold air
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#1499 Fix Yakuza coat hands not being visible
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/equipped-OUTERCLOTHING.png
Labels: No C#, Changes: Sprites

#1497 Adds missing suffix to gauze
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#1498 Adds boardgame random spawner
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/boardgames.yml
Labels: No C#

#1495 Sign edits
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/pods.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/space.png
Labels: No C#, Changes: Sprites

#1500 Gives security winter coats protection
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: No C#

#1508 Fix Discord changelogs.
  Resources/Changelog/NyanotrasenChangelog.yml
  Tools/actions_changelogs_since_last_run.py
Labels: No C#

#1502 New bar sign
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/bar_sign.yml
  Resources/Prototypes/Nyanotrasen/bar_signs.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/barsign.rsi/whiskeyechoes.png
Labels: No C#, Changes: Sprites

#1496 Centers condiment machine
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/icon.png
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/condiments.rsi/off.png
Labels: No C#, Changes: Sprites

#1476 Make the mind swap event permanent.
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Nyanotrasen/Psionics/Glimmer/Events/MassMindSwap.cs
Labels: Needs Discussion

#1510 Move the Musician traitor melee to the job category of the uplink
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
Labels: No C#

#1511 Revert "Add 200 units of biomass to the medical supply crate. (#1388)"
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
Labels: No C#

#1513 Add manual changelog.
  Resources/Changelog/NyanotrasenChangelog.yml
Labels: No C#

#1515 Update publish workflow for the new server
  .github/workflows/publish.yml
  Tools/gen_build_info.py
Labels: No C#

#1514 Update Angle
  Resources/Maps/angle.yml
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map

#1522 Martial Artist Service headset
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
Labels: No C#

#1524 remove protected grid from peeble
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1525 Derotate Spaceship Northway
  Resources/Prototypes/Maps/Pools/default.yml
Labels: No C#

#1523 Update changelog
  Resources/Changelog/NyanotrasenChangelog.yml
Labels: No C#
