Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2023-03, with the labels that each got.

#1317 Add new drinks
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/drink.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/atomicpunch.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/atomicpunch.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/brainbomb.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/brainbomb.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/bubbletea.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/bubbletea.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/circusjuice.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/circusjuice.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/clownblood.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/clownblood.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/graveyard.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/graveyard.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/orangecreamcicle.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/orangecreamcicle.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/pinkdrink.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/pinkdrink.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/sapopicante.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/sapopicante.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/silverjack.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/silverjack.rsi/meta.json
Labels: No C#, Changes: Sprites

#1318 Update shoukou.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1319 rats no longer have door bump opener
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: No C#

#1324 A painting
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/paintings.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Paintings/wabungus.rsi/bigcatch.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Paintings/wabungus.rsi/meta.json
Labels: No C#, Changes: Sprites

#1323 Update shoukou.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1311 Adds construction graphs for shuttle structures
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/full.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/meta.json
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state0.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state1.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state2.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state3.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state4.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state5.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state6.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state7.png
Labels: No C#, Changes: Sprites

#1322 Pride-O-Mat
  Resources/Locale/en-US/advertisements/vending/pride.ftl
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/pride.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/pride.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/pride.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/pride.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/pride.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/pride.rsi/panel.png
Labels: No C#, Changes: Sprites

#1327 Epistemic Bureaucracy
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Forensics/forensics.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/nyano_jobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Misc/paper.yml
  Resources/Textures/Nyanotrasen/Objects/Misc/signet_rings.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Misc/signet_rings.rsi/mystagogue.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-mantis.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-rd.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-mantis.png
Labels: No C#, Changes: Sprites

#1088 added chemistry guide to guidebook
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/med.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Server Info/Guidebook/Med/Chemistry.xml
Labels: No C#, Status: Needs Review

#1343 juggernaut suit reverse engineering
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/hardsuits.yml
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/juggernaut.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/meta.json
Labels: No C#, Changes: Sprites

#1344 Guidebookupdate20230309
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Server Info/Guidebook/Botany.xml
Labels: No C#

#1346 Adds dojo decor and kendo equipment
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Furniture/tatami.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/signs.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/tatami.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Nyanotrasen/Clothing/Belt/Martial/black.rsi/equipped-BELT.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/Martial/black.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/Martial/black.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/Martial/black.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/Martial/black.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/men.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/men.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/men.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/bogu.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/bogu.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/bogu.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/bogu.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/bogu.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gi.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gi.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gi.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gi.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/gi.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/hakama.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/hakama.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/hakama.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/hakama.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/hakama.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/shinai.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/shinai.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/shinai.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/shinai.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Furniture/tatami.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Furniture/tatami.rsi/tatami_1x1.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/tatami.rsi/tatami_1x1P.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/doujou.rsi/doujousign.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/doujou.rsi/meta.json
  Resources/Textures/Structures/Walls/paper.rsi/full.png
  Resources/Textures/Structures/Walls/paper.rsi/meta.json
  Resources/Textures/Structures/Walls/paper.rsi/paperwall0.png
  Resources/Textures/Structures/Walls/paper.rsi/paperwall1.png
  Resources/Textures/Structures/Walls/paper.rsi/paperwall2.png
  Resources/Textures/Structures/Walls/paper.rsi/paperwall3.png
  Resources/Textures/Structures/Walls/paper.rsi/paperwall4.png
  Resources/Textures/Structures/Walls/paper.rsi/paperwall5.png
  Resources/Textures/Structures/Walls/paper.rsi/paperwall6.png
  Resources/Textures/Structures/Walls/paper.rsi/paperwall7.png
Labels: No C#, Changes: Sprites

#1351 Add dojo to Shoukou and fix Valet
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/nyano-desc.ftl
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, Changes: Map

#1350 Add resprited comfy sweater.
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/hyenh.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/hyenh.rsi/icon.png
Labels: No C#, Changes: Sprites

#1353 Change available wizard clothes to fake version.
  Resources/Maps/lighthouse.yml
  Resources/Maps/pebble.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
Labels: No C#, Changes: Map

#1357 Forbid Mime from getting BecomePsionicObjective.
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: No C#

#1354 Damage Adjustments
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: No C#

#1222 Add Chef's Guide and Cookbook into Guidebook
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Guidebook/chef.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Server Info/Guidebook/Chef/borgir.xml
  Resources/Server Info/Guidebook/Chef/cookbook.xml
  Resources/Server Info/Guidebook/Chef/intro.xml
  Resources/Server Info/Guidebook/Chef/lies.xml
  Resources/Server Info/Guidebook/Chef/pastry.xml
  Resources/Server Info/Guidebook/Chef/pitzah.xml
  Resources/Server Info/Guidebook/Chef/remove kebab.xml
  Resources/Server Info/Guidebook/Chef/sandvich.xml
  Resources/Server Info/Guidebook/Chef/snacc.xml
  Resources/Server Info/Guidebook/Chef/spaget.xml
  Resources/Server Info/Guidebook/Chef/sup.xml
Labels: No C#

#1358 rebalance objective frequency
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: No C#

#1362 Update attributions.yml
  Resources/Audio/Lobby/attributions.yml
Labels: No C#

#1363 Update AssDayRules.txt
  Resources/Server Info/AssDayRules.txt
Labels: No C#

#1255 Small Additions and Tweaks to Food Recipes
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Server Info/Guidebook/Chef/borgir.xml
  Resources/Server Info/Guidebook/Chef/cookbook.xml
  Resources/Server Info/Guidebook/Chef/lies.xml
  Resources/Server Info/Guidebook/Chef/pitzah.xml
  Resources/Server Info/Guidebook/Chef/remove kebab.xml
  Resources/Server Info/Guidebook/Chef/sandvich.xml
  Resources/Server Info/Guidebook/Chef/snacc.xml
  Resources/Server Info/Guidebook/Chef/spaget.xml
  Resources/Server Info/Guidebook/Chef/sup.xml
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/patty.png
Labels: No C#, Changes: Sprites

#1360 Make guidebook more user-friendly.
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Resources/Locale/en-US/guidebook/guidebook.ftl
Labels: Changes: UI

#1367 add blue/red galaxy lawsuits
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyblue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyergalaxyred.rsi/meta.json
Labels: No C#, Changes: Sprites

#1370 Map Changes + New Evac for Angle
  Resources/Maps/Shuttles/NTES_Right.yml
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/angle.yml
Labels: No C#, Changes: Map

#1371 Adds tofu and garlic recipes to guidebook
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Server Info/Guidebook/Chef/borgir.xml
  Resources/Server Info/Guidebook/Chef/cookbook.xml
  Resources/Server Info/Guidebook/Chef/sandvich.xml
  Resources/Server Info/Guidebook/Chef/sos.xml
Labels: No C#

#1373 QM job Icon no longer have command colors
  Resources/Textures/Interface/Misc/job_icons.rsi/QuarterMaster.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idquartermaster.png
Labels: No C#, Changes: Sprites

#1372 More moth plushies
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff1.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff10.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff11.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff12.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff13.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff14.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff2.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff3.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff4.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff5.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff6.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff7.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff8.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff9.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moffbar.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moffsician.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moffsician.rsi/meta.json
Labels: No C#, Changes: Sprites

#1378 Lean 2 electric boogaloo.
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/lean.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/drink.yml
Labels: No C#

#1380 Pebble Tcomm pathcie
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1381 Update Angle & Shoukou - Telecomms
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1383 Security Breaching Hammer
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/breaching_hammer.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/breaching_hammer.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/breaching_hammer.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/breaching_hammer.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/breaching_hammer.rsi/wielded-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/breaching_hammer.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites

#1384 Fix Mysta headset having Engineering keys instead of Epistemics keys
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Ears/headsets.yml
Labels: No C#

#1385 fix no common on epi headset
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Ears/headsets.yml
Labels: No C#

#1391 Update salvage.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map

#1395 Tomato sauce fix and typos
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/recipes_moth.yml
  Resources/Server Info/Guidebook/Chef/pitzah.xml
  Resources/Server Info/Guidebook/Chef/salad.xml
  Resources/Server Info/Guidebook/Chef/snacc.xml
  Resources/Server Info/Guidebook/Chef/sos.xml
  Resources/Server Info/Guidebook/Chef/spaget.xml
  Resources/Server Info/Guidebook/Chef/sup.xml
Labels: No C#

#1376 Added cargo guidebook entry and updated guidebook tree to match
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/cargo.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Server Info/Guidebook/Cargo.xml
Labels: No C#

#1396 Add more Felinid emote SFX.
  Resources/Audio/Voice/Felinid/attributions.yml
  Resources/Audio/Voice/Felinid/cat_growl1.ogg
  Resources/Audio/Voice/Felinid/cat_hiss1.ogg
  Resources/Audio/Voice/Felinid/cat_hiss2.ogg
  Resources/Audio/Voice/Felinid/cat_meow1.ogg
  Resources/Audio/Voice/Felinid/cat_meow2.ogg
  Resources/Audio/Voice/Felinid/cat_meow3.ogg
  Resources/Audio/Voice/Felinid/cat_mew1.ogg
  Resources/Audio/Voice/Felinid/cat_mew2.ogg
  Resources/Audio/Voice/Felinid/cat_purr1.ogg
  Resources/Prototypes/Nyanotrasen/SoundCollections/felinid.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#

#1397 Map Edits
  Resources/Maps/tortuga.yml
Labels: No C#, Changes: Map

#1394 Added Corncob Crust Pizza. Thank rosy!
  Resources/Locale/en-US/disease/disease.ftl
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/ingredients.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_whole.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Server Info/Guidebook/Chef/pitzah.xml
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/corncob-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/corncob.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/cornzza-poster.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites

#1398 Pebble Arrivals/evac renovations
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1387 Remove piercing from Felinid melee
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: No C#

#1388 Add 200 units of biomass to the medical supply crate.
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
Labels: No C#

#1404 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1408 Shinai inhand sprite fix
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/shinai.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/shinai.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#1406 Golemancer renamed to Chaplain
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Maps/lighthouse.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Server Info/Guidebook/Epi/Altar.xml
  Resources/Server Info/Guidebook/Jobs.xml
Labels: No C#, Changes: Map

#1412 Update shoukou.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1418 Stop people from eating the whole PSB
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ration.yml
Labels: No C#

#1419 Adds two kimono
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-purple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-purple.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-purple.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-purple.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-purple.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-sky.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-sky.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-sky.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-sky.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Costume/kimono-sky.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#1407 Brain Bomb drink recipe ingredient change
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/drink.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: No C#

#1374 Brig timers
  Content.Client/MachineLinking/UI/SignalTimerBoundUserInterface.cs
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/MachineLinking/Components/SignalTimerComponent.cs
  Content.Server/MachineLinking/System/SignalTimerSystem.cs
  Content.Shared/Doors/Components/AirlockComponent.cs
  Content.Shared/MachineLinking/UIKeys.cs
  Content.Shared/MachineLinking/UIMessages.cs
  Resources/Locale/en-US/machine-linking/components/signal-timer-component.ftl
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/machine-linking/transmitter_ports.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/signal_timer.yml
  Resources/Prototypes/MachineLinking/receiver_ports.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/switching.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
Labels: Changes: UI

#1422 Pebble QoL stuff
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#1424 make brig timers actually somewhat usable
  Content.Client/MachineLinking/UI/SignalTimerBoundUserInterface.cs
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml.cs
  Content.Server/MachineLinking/Components/SignalTimerComponent.cs
  Content.Server/MachineLinking/System/SignalTimerSystem.cs
  Content.Shared/MachineLinking/UIMessages.cs
  Resources/Locale/en-US/machine-linking/components/signal-timer-component.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/signal_timer.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
Labels: Changes: UI

#1421 Fix Grinder offsets
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: No C#

#1425 brig timer fixes 2
  Content.Client/MachineLinking/UI/SignalTimerBoundUserInterface.cs
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml.cs
  Content.Server/MachineLinking/Components/SignalTimerComponent.cs
  Content.Server/MachineLinking/System/SignalTimerSystem.cs
  Content.Shared/MachineLinking/UIMessages.cs
  Resources/Locale/en-US/machine-linking/components/signal-timer-component.ftl
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/signal_timer.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
Labels: Changes: UI

#1427 Update Angle & Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1428 Brig/Signal Timer Sprites
  Content.Server/MachineLinking/System/SignalTimerSystem.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/signal_timer.yml
  Resources/Textures/Structures/Wallmounts/brig_timer.rsi/activated.png
  Resources/Textures/Structures/Wallmounts/brig_timer.rsi/complete.png
  Resources/Textures/Structures/Wallmounts/brig_timer.rsi/dead.png
  Resources/Textures/Structures/Wallmounts/brig_timer.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/timer.rsi/activated.png
  Resources/Textures/Structures/Wallmounts/timer.rsi/complete.png
  Resources/Textures/Structures/Wallmounts/timer.rsi/dead.png
  Resources/Textures/Structures/Wallmounts/timer.rsi/meta.json
Labels: Changes: Sprites

#1432 Remove HoS headset from Warden locker
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: No C#

#1430 adds bloodsucking and pulling to giant spiders
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#
