Repository Nyanotrasen/Nyanotrasen, pull requests merged in 2023-08, with the labels that each got.

#1761 Adds Syndicate Crate (#18497)
  Resources/Locale/en-US/prototypes/catalog/fills/crates/syndicate-crates.ftl
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Structures/Storage/Crates/syndicate.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/syndicate.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/syndicate.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/syndicate.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/syndicate.rsi/open.png
  Resources/Textures/Structures/Storage/Crates/syndicate.rsi/sparking.png
  Resources/Textures/Structures/Storage/Crates/syndicate.rsi/welded.png
Labels: No C#, Changes: Sprites

#1728 Food Carts
  Resources/Audio/Nyanotrasen/bottle_clunk.ogg
  Resources/Audio/Nyanotrasen/bottle_clunk_2.ogg
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Cargo/cargo_service.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Kitchen/foodcarts.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/cart_bbqsauce.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/cart_coldsauce.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/cart_hotsauce.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/cart_ketchup.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/icon-cold.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/icon-hot.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/stand-food.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Kitchen/food_carts.rsi/stand-ice.png
Labels: No C#, Changes: Sprites

#1753 Replaces the "Dogi" with the Samurai Crate.
  Resources/Locale/en-US/nyanotrasen/prototypes/fills/crates/syndicate-crates.ftl
  Resources/Locale/en-US/nyanotrasen/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/kabuto.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/kabuto.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/kabuto.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/kabuto.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Helmets/kabuto.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/touseigusoku.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/touseigusoku.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/touseigusoku.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/touseigusoku.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Armor/touseigusoku.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1716 Adds New Map: The Hive
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/hive.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1764 Remove incorrect description from rigged boxing gloves
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: No C#

#1766 Map fixes
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1765 Map Overhaul
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#1767 Map Edits
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Labels: No C#, Changes: Map

#1769 Map Hotfix
  Resources/Maps/hive.yml
Labels: No C#, Changes: Map

#1771 Map Edits
  Resources/Maps/arena.yml
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Labels: No C#, Changes: Map

#1775 Map updates
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1774 Map Edits
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Labels: No C#, Changes: Map

#1773 Add Tier One Parts to Engineering Techfab
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
Labels: No C#, Status: Needs Review

#1777 Map edits
  Resources/Maps/Shuttles/ntsv-tote.yml
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1786 Map Hotfix
  Resources/Maps/hive.yml
Labels: No C#, Changes: Map

#1788 Update Angle and Shoukou
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#1782 Added accesses to Cargo jobs and Assistant
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: No C#

#1779 Mk32 Glowup
  Resources/Audio/Nyanotrasen/Weapons/Guns/Gunshots/universal.ogg
  Resources/Audio/Nyanotrasen/Weapons/licenses.txt
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/equipped-BELT.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/base.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/mag-0.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/meta.json
Labels: No C#, Changes: Sprites
